/*~~ 3. Keyframes (animations) ~~*/
@keyframes accent-blinking { /* animation: accent-blinking 450ms infinite; */
    0%   {border-color: rgb(var(--accent-color-1));}
    50%  {border-color: rgb(var(--accent-color-2));}
    100% {border-color: rgb(var(--accent-color-1));}
}
@keyframes accent-blinking-with-transparency { /* animation: accent-blinking-with-transparency 450ms infinite; */
    0%   {border-color: var(--line-color-1);}
    50%  {border-color: var(--line-color-2);}
    100% {border-color: var(--line-color-1);}
}
@keyframes background-blinking { /* animation: background-blinking 450ms infinite; */
    0%   {background-color: rgb(var(--darker-background-color));}
    50%  {background-color: rgb(var(--dark-background-color));}
    100% {background-color: rgb(var(--darker-background-color));}
}
@keyframes background-accent-blinking { /* animation: background-accent-blinking 450ms infinite; */
    0%   {background-color: rgb(var(--accent-color-1));}
    50%  {background-color: rgb(var(--accent-color-2));}
    100% {background-color: rgb(var(--accent-color-1));}
}
@keyframes both-blinking { /* animation: both-blinking 450ms infinite; */
    0%   {border-color: rgb(var(--accent-color-1)); background-color: rgb(var(--darker-background-color));}
    50%  {border-color: rgb(var(--accent-color-2)); background-color: rgb(var(--dark-background-color));}
    100% {border-color: rgb(var(--accent-color-1)); background-color: rgb(var(--darker-background-color));}
}
@keyframes both-blinking-with-transparency { /* animation: both-blinking-with-transparency 450ms infinite; */
    0%   {border-color: rgba(var(--accent-color-1), var(--other-highlighted-transparency)); background-color: rgba(var(--darker-background-color), var(--other-highlighted-transparency));}
    50%  {border-color: rgba(var(--accent-color-2), var(--other-highlighted-transparency)); background-color: rgba(var(--dark-background-color), var(--other-highlighted-transparency));}
    100% {border-color: rgba(var(--accent-color-1), var(--other-highlighted-transparency)); background-color: rgba(var(--darker-background-color), var(--other-highlighted-transparency));}
}
@keyframes notice-anim { /* animation: notice-anim 450ms infinite; */
    0%   {border-color: var(--line-color); background-color: rgba(var(--darker-background-color, 8, 5, 14), var(--other-highlighted-transparency, 1));}
    50%  {border-color: var(--line-color); background-color: rgba(var(--dark-background-color, 20, 17, 26), var(--other-highlighted-transparency, 1));}
    100% {border-color: var(--line-color); background-color: rgba(var(--darker-background-color, 8, 5, 14), var(--other-highlighted-transparency, 1));}
}
@keyframes channeltabs-tabOpen { /* Not finished */
    0%   {width: 0;}
    100% {width: var(--channelTabs-tabWidth);}
}
@keyframes channeltabs-tabClose {
    0%   {width: var(--channelTabs-tabWidth);}
    100% {width: 0;}
}
@keyframes shadowPulse-3-iHTS {
    0%   {box-shadow: 0 0 3px rgba(var(--gx-red), 0.3)}
    50%  {box-shadow: 0 0 3px rgba(var(--gx-red), 0.6)}
    100% {box-shadow: 0 0 3px rgba(var(--gx-red), 0.3)}
}
@keyframes animated-background { /* animation: animated-background 3s infinite; */
    0%   {background: linear-gradient(120deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    1%   {background: linear-gradient(123deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    2%   {background: linear-gradient(127deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    3%   {background: linear-gradient(130deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    4%   {background: linear-gradient(134deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    5%   {background: linear-gradient(138deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    6%   {background: linear-gradient(141deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    7%   {background: linear-gradient(145deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    8%   {background: linear-gradient(148deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    9%   {background: linear-gradient(152deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    10%  {background: linear-gradient(156deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    11%  {background: linear-gradient(159deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    12%  {background: linear-gradient(163deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    13%  {background: linear-gradient(166deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    14%  {background: linear-gradient(170deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    15%  {background: linear-gradient(174deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    16%  {background: linear-gradient(177deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    17%  {background: linear-gradient(181deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    18%  {background: linear-gradient(184deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    19%  {background: linear-gradient(188deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    20%  {background: linear-gradient(192deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    21%  {background: linear-gradient(195deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    22%  {background: linear-gradient(199deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    23%  {background: linear-gradient(202deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    24%  {background: linear-gradient(206deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    25%  {background: linear-gradient(210deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    26%  {background: linear-gradient(213deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    27%  {background: linear-gradient(217deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    28%  {background: linear-gradient(220deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    29%  {background: linear-gradient(224deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    30%  {background: linear-gradient(228deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    31%  {background: linear-gradient(231deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    32%  {background: linear-gradient(235deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    33%  {background: linear-gradient(238deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    34%  {background: linear-gradient(242deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    35%  {background: linear-gradient(246deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    36%  {background: linear-gradient(249deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    37%  {background: linear-gradient(253deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    38%  {background: linear-gradient(256deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    39%  {background: linear-gradient(260deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    40%  {background: linear-gradient(264deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    41%  {background: linear-gradient(267deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    42%  {background: linear-gradient(271deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    43%  {background: linear-gradient(274deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    44%  {background: linear-gradient(278deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    45%  {background: linear-gradient(282deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    46%  {background: linear-gradient(285deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    47%  {background: linear-gradient(289deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    48%  {background: linear-gradient(292deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    49%  {background: linear-gradient(296deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    50%  {background: linear-gradient(300deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    51%  {background: linear-gradient(303deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    52%  {background: linear-gradient(307deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    53%  {background: linear-gradient(310deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    54%  {background: linear-gradient(314deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    55%  {background: linear-gradient(318deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    56%  {background: linear-gradient(321deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    57%  {background: linear-gradient(325deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    58%  {background: linear-gradient(328deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    59%  {background: linear-gradient(332deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    60%  {background: linear-gradient(336deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    61%  {background: linear-gradient(339deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    62%  {background: linear-gradient(343deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    63%  {background: linear-gradient(346deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    64%  {background: linear-gradient(350deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    65%  {background: linear-gradient(354deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    66%  {background: linear-gradient(357deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    67%  {background: linear-gradient(1deg,   rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    68%  {background: linear-gradient(4deg,   rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    69%  {background: linear-gradient(8deg,   rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    70%  {background: linear-gradient(12deg,  rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    71%  {background: linear-gradient(15deg,  rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    72%  {background: linear-gradient(19deg,  rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    73%  {background: linear-gradient(22deg,  rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    74%  {background: linear-gradient(26deg,  rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    75%  {background: linear-gradient(30deg,  rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    76%  {background: linear-gradient(33deg,  rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    77%  {background: linear-gradient(37deg,  rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    78%  {background: linear-gradient(40deg,  rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    79%  {background: linear-gradient(44deg,  rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    80%  {background: linear-gradient(48deg,  rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    81%  {background: linear-gradient(51deg,  rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    82%  {background: linear-gradient(55deg,  rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    83%  {background: linear-gradient(58deg,  rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    84%  {background: linear-gradient(62deg,  rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    85%  {background: linear-gradient(66deg,  rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    86%  {background: linear-gradient(69deg,  rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    87%  {background: linear-gradient(73deg,  rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    88%  {background: linear-gradient(76deg,  rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    89%  {background: linear-gradient(80deg,  rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    90%  {background: linear-gradient(84deg,  rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    91%  {background: linear-gradient(87deg,  rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    92%  {background: linear-gradient(91deg,  rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    93%  {background: linear-gradient(94deg,  rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    94%  {background: linear-gradient(98deg,  rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    95%  {background: linear-gradient(102deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    96%  {background: linear-gradient(105deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    97%  {background: linear-gradient(109deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    98%  {background: linear-gradient(112deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    99%  {background: linear-gradient(116deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
    100% {background: linear-gradient(120deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));}
}
@keyframes cm-pop-in {
    0%  {opacity: 0;}
    100%{opacity: 1;}
}