/* Jump button */
.jumpButton-JkYoYK,
.jumpButton-1V_1FA {
    background: rgb(var(--darker-background-color));
    border-radius: 10;
    border: solid 1px transparent;
}
.jumpButton-JkYoYK:hover,
.jumpButton-1V_1FA:hover {
    background: rgb(var(--dark-background-color));
    border-radius: 10;
    border: solid 1px rgb(var(--accent-color-2));
}
.full-motion.app-focused .jumpButton-JkYoYK:hover,
.full-motion.app-focused .jumpButton-1V_1FA:hover {
    animation: accent-blinking 450ms infinite;
}
.button-cfOvv- {
    border-radius: 10;
    border: solid 1px rgb(var(--accent-color-1));
    height: 26px;
}