/* Message buttons/Quick Actions */
.wrapper-2vIMkT {
    border-radius: 10;
    background: transparent;
    border: none;
    box-shadow: none;
    height: 36px;
}
.full-motion .wrapper-2vIMkT:hover {
    box-shadow: none;
    -webkit-box-shadow: none;
}
.separator-PzTEkx {
    background: rgba(var(--accent-color-1), 0.3);
}
.button-3bklZh.disabled-3SakJY,
.button-3bklZh.disabled-3SakJY:active,
.button-3bklZh.disabled-3SakJY:hover {
    opacity: 1;
    color: rgba(var(--normal-font), 0.5);
}
.button-3bklZh:first-child,
.button-3bklZh:last-child {
    border-radius: 10;
}
.button-3bklZh {
    padding: 0 8px !important;
}
.button-3bklZh:hover {
    background: none;
    color: rgb(var(--fullwhite-font));
}
.button-3bklZh.selected-69H4ua {
    background: none;
}
.container-2gUZhU.isHeader-2bbX-L {
    top: 0;
}
.container-2gUZhU {
    top: -7px;
    padding: 0;
}
.message-2CShn3 {
    padding-right: 40px !important;
}
.container-2gUZhU {
    max-width: 40px;
}
.message-2CShn3 .container-2gUZhU:hover {
    max-width: unset;
}
.button-3bklZh.dangerous-Y36ifs,
.button-3bklZh.dangerous-Y36ifs:hover {
    color: rgb(var(--gx-red));
}