/**
 * @name AAA OperaGX WIP
 * @author Hawk
 * @version 6
 * @description A WIP Theme.
 */
 @import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
:root{
    --opera-gx-bg-1: url(https://raw.githubusercontent.com/L-Ratio/OperaGXTheme/main/Backgrounds/01.jpg);
    --line-color: var(--line-color-1);
    --line-color-1: rgba(var(--accent-color-1, 250, 30, 70), var(--lines-transparency, 1));
    --line-color-2: rgba(var(--accent-color-2, 255, 55, 109), var(--lines-transparency, 1));

    /* Theme default variables */
    --background:                     url(https://i.imgur.com/Q5YBiHJ.jpeg)                 ;
    --background-behind-appmount:     rgb(var(--darker-background-color))   ;


    --accent-color-1:                 250, 30, 70                           ;
    --accent-color-2:                 255, 55, 109                          ;
    --dark-background-color:          18, 16, 25                            ;
    --darker-background-color:        8, 5, 14                              ;


    --gx-red:                         255, 34, 34                           ;
    --gx-red-2:                       255, 66, 66                           ;
    --gx-yellow:                      234, 234, 34                          ;
    --gx-yellow-2:                    255, 255, 68                          ;
    --gx-green:                       0, 212, 81                            ;
    --gx-green-2:                     0, 255, 129                           ;
    --gx-grey:                        47, 44, 59                            ;
    --gx-grey-2:                      62, 58, 67                            ;


    --fullwhite-font:                 250, 253, 255                         ;
    --normal-font:                    201, 203, 206                         ;
    --normal-hover-font:              238, 239, 240                         ;
    --muted-font:                     114, 118, 125                         ;
    --link-text:                      0, 176, 244                           ;
    --font-in-accent:                 0, 0, 0                               ;


    --channel-name-transform:         capitalize                            ;
    --category-name-transform:        unset                                 ;


    --wintitlebar-background-blur:    none                                  ;
    --wintitlebar-transparency:       0.7                                   ;
    --wintitlebar-transparency-color: var(--dark-background-color)          ;
    --wintb-focused-alpha:            1                                     ;
    --wintb-focused-color:            var(--darker-background-color)        ;

    --header-background-blur:         none                                  ;
    --header-transparency:            0.5                                   ;
    --header-transparency-color:      var(--dark-background-color)          ;

    --serverlist-background-blur:     none                                  ;
    --serverlist-transparency:        0.5                                     ;
    --serverlist-transparency-color:  var(--dark-background-color)          ;

    --channels-background-blur:       none                                  ;
    --channels-transparency:          0.5                                     ;
    --channels-transparency-color:    var(--dark-background-color)          ;

    --chat-background-blur:           none                                  ;
    --chat-transparency:              0.5                                     ;
    --chat-transparency-color:        var(--dark-background-color)          ;

    --memberlist-background-blur:     none                                  ;
    --memberlist-transparency:        0.5                                   ;
    --memberlist-transparency-color:  var(--dark-background-color)          ;


    --st-l-scroller-bg-blur:          none                                  ;
    --st-l-scroller-transparency:     1                                     ;
    --st-l-scroller-color:            var(--dark-background-color)          ;
    --st-r-scroller-bg-blur:          none                                  ;
    --st-r-scroller-transparency:     1                                     ;
    --st-r-scroller-color:            var(--darker-background-color)        ;


    --chatbox-transparency:           1                                     ;
    --chatbox-focused-transparency:   1                                     ;
    --other-transparency:             1                                     ;
    --other-highlighted-transparency: 1                                     ;
    --lines-transparency:             1                                     ;


    --channeltabs-background-color:   var(--darker-background-color)        ;
    --channeltabs-background-blur:    none                                  ;
    --channeltabs-bg-transparency:    1                                     ;
    --channeltabs-tab-bg-color:       var(--dark-background-color)          ;
    --channeltabs-tab-bg-transparency:1                                     ;

    --channeltabs-fav-bg-color:       var(--dark-background-color)          ;
    --channeltabs-fav-bg-blur:        none                                  ;
    --channeltabs-fav-bg-transparency:1                                     ;
    --channeltabs-fav-hover:          111, 125, 138                         ;
    --channeltabs-fav-hover-alpha:    0.3                                   ;


    --border-color-accent-1: 1px solid rgb(var(--accent-color-1))
}
.theme-light,
.theme-dark {
    /* Discord colors and font */
    --text-normal: rgb(var(--normal-font)) !important;
    --text-muted: rgb(var(--muted-font)) !important;
    --channels-default: rgb(var(--normal-font)) !important;
    --interactive-normal: rgb(var(--normal-font)) !important;
    --interactive-active: rgb(var(--fullwhite-font)) !important;
    --interactive-hover: rgb(var(--normal-hover-font)) !important;
    --interactive-muted: rgb(var(--muted-font)) !important;
    --header-primary: rgb(var(--fullwhite-font)) !important;
    --header-secondary: rgb(var(--normal-font)) !important;
    --text-link: rgb(var(--link-text)) !important;
    --textbox-markdown-syntax: rgb(var(--muted-font));
    --background-accent: rgb(var(--accent-color-1)) !important;
    --background-modifier-accent: rgb(var(--accent-color-1)) !important;
    --background-primary: rgba(var(--dark-background-color), var(--other-transparency)) !important;
    --background-secondary: rgba(var(--dark-background-color), var(--other-transparency)) !important;
    --background-secondary-alt: rgba(var(--darker-background-color), var(--other-transparency)) !important;
    --background-tertiary: rgba(var(--darker-background-color), var(--other-transparency)) !important;
    --deprecated-card-bg: rgba(var(--dark-background-color), var(--other-transparency)) !important;
    --background-floating: rgba(var(--darker-background-color), var(--other-transparency)) !important;
    --background-modifier-selected: rgba(var(--darker-background-color), 0.32);
    --background-modifier-hover: var(--background-message-hover);
    --background-modifier-active: rgba(var(--accent-color-2), 0.25);
    --background-message-hover: rgba(var(--accent-color-1), 0.15);
    --bd-blue: rgb(var(--accent-color-1)) !important;
    --blurple: rgb(var(--accent-color-1)) !important;
    --deprecated-quickswitcher-input-background: rgb(var(--darker-background-color)) !important;
    --toast-border: rgb(var(--accent-color-1));
    --toast-contents: rgb(var(--darker-background-color)) !important;
    --toast-background: rgb(var(--dark-background-color));
    --activity-card-background: rgb(var(--darker-background-color));
    --bdfdb-blurple: rgb(var(--accent-color-1));
    --background-help-warning: rgba(var(--gx-yellow), 0.1);
    --font-display: var(--cf) !important;
    --font-primary: var(--cf) !important;
    --brand-experiment: rgb(var(--accent-color-1)) !important;
}
/*~~ 2. Font ~~*/

:root {
    --cf: var(--customFont, --custom-font, Chakra Petch, "Chakra Petch Regular", Whitney, Whitney Book, Helvetica Neue, Helvetica, Arial, sans-serif);
    --cbcf: var(--codeBlocksCustomFont, --codeblocks-custom-font, Consolas, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Monaco, Courier New, Courier, monospace);
}
::-webkit-input-placeholder,
body,
button,
input,
select,
textarea,
* {
    font-family: var(--cf);
}
span[class*="hljs"],
span[class*="hljs"] span,
.codeLine-3a3dbd span span span,
code,
.markup-eYLPri code.inline,
.codeBlockText-311wOq,
.codeLine-3a3dbd,
.after_inlineCode-WydEur,
.before_inlineCode-xn8Llh,
.inlineCode-2auMQi span,
.durationTimeDisplay-QwCeRr,
.durationTimeSeparator-1Cqi9N,
.powercord-codeblock-table td,
.prefix-24L010,
.maxLength-IdVNmX,
.wrapper-pZmgj4 *,
.wrapper-2fEmwW *,
.inviteCode-3IYjBf,
#bd-customcss-editor *,
.timestamp-p1Df1m span,
.timestamp-2qj4__,
.messageContent-2t3eCI:after {
    font-family: var(--cbcf);
}
/* Backgrounds */
.theme-dark #app-mount,
.theme-light #app-mount,
.appMount-2yBXZl,
body,
.divider-3gKybi,
.typing-2J1mQU, .typing-2J1mQU,
.bg-1QIAus,
.guild-1EfMGQ .guildInner-3DSoA4,
.messages-3amgkR,
.panels-3wFtMD,
.privateChannels-oVe7HL,
.childWrapper-1j_1ub,
.contentRegionScroller-2_GT_N,
.scroller-WSmht3,
.footer-1Ip3Sd,
.standardSidebarView-E9Pc3j,
.messagesPopout-eVzQcI,
.friendsTable-133bsv .friendsTableBody-1ZhKif,
.scroller-29cQFV,
.app-2CXKsg,
.members-3WRCEx,
.members-3WRCEx > div,
.chat-2ZfjoI,
.wrapper-1Rf91z,
.container-PNkimc,
#app-mount .container-2cd8Mz,
.applicationStore-2nk7Lo,
.emptyCard-KDifrB,
.scroller-1TOeMq,
.content-3_h0XI,
.container-1NXEtd,
.nowPlayingColumn-1eCBCN,
.container-2o3qEW {
    background: transparent;
}
.theme-dark #app-mount,
.theme-light #app-mount {
    background: var(--background) center;
    background-size: cover;
}
/* Headers */
.headerTop-2y3V6H {
    border-bottom: none;
}
.activity-fViXj7 {
    border-bottom: none;
    margin: 0;
    padding: 16px;
    border-top: solid 1px rgb(var(--accent-color-1));
}
.badges-XRnWAp .topSectionPlaying-1J5E4n {
    background: none !important;
}
.discriminator[style*="88, 101, 242"] {
    color: rgb(88, 101, 242) !important;
}
#app-mount .headerNormal-T_seeN {
    background-color: rgb(var(--dark-background-color));
}
#app-mount .body-3iLsc4,
#app-mount .footer-1fjuF6,
#app-mount .footer-1N3bR3 {
    background-color: rgb(var(--darker-background-color));
    color: rgba(var(--fullwhite-font), 0.8);
    border-top: solid 1px rgb(var(--accent-color-1));
}
.footer-1fjuF6,
.footer-1N3bR3 {
    padding-top: 12px;
}
#app-mount .headerNormal-T_seeN .headerName-fajvi9,
#app-mount .headerNormal-T_seeN .headerTagUsernameNoNickname-2_H881 {
    color: rgb(var(--fullwhite-font));
}


        /* Borders */
.tree-3agP2X{
    border-left:var(--border-color-accent-1);
    border-right: var(--border-color-accent-1);
}
.container-1eFtFS{
    border-top:var(--border-color-accent-1);
    border-bottom:var(--border-color-accent-1);
}
.sidebar-1tnWFu,
.nowPlayingColumn-1eCBCN{
    border-right: var(--border-color-accent-1);
}
.container-1-ERn5,
.searchBar-3TnChZ{
    border-bottom: var(--border-color-accent-1);
}
.content-1jQy2l,
.tabBody-2dgbAs,
.wrapper-3Hk9OB{
    border-top: var(--border-color-accent-1);
}
.chat-2ZfjoI,
.container-ZMc96U{
    border-right: var(--border-color-accent-1);
}
.membersWrap-3NUR2t{
    border-left:var(--border-color-accent-1);
}



/* Tooltips and Tooltips border color */
#app-mount .tooltip-14MtrL,
#app-mount .tooltipBlack-vMYxvw {
    border: solid 1px rgb(var(--accent-color-1));
    background: linear-gradient(135deg, rgb(var(--darker-background-color)), rgb(var(--dark-background-color)));
    border-radius: 0;
    color: rgb(var(--fullwhite-font));
}
.tooltipPointer-3L49xb {
    display: none;
}
.tooltipRight-2TSb42 {
    margin-top: 32px;
    margin-bottom: 32px;
}
.guildNameText-74xXQn {
    color: rgb(var(--fullwhite-font));
}
/* Buttons Shape and Color on hover */
#app-mount .lookFilled-yCfaCM.colorPrimary-2AuQVo {
    color: rgb(var(--font-in-accent));
    background: linear-gradient(135deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));
    border-radius: 2px;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 6px;
}
/* When you hover over it */
#app-mount .lookFilled-yCfaCM:hover.colorPrimary-2AuQVo{
    color: white;
    background: linear-gradient(135deg, rgba(var(--accent-color-1), 0.5), rgba(var(--accent-color-2), 0.5));;
}



    /* Categories Borders */
.containerDefault-3GGEv_,
.containerDragAfter-3TEhpe,
.containerDragBefore-3Dzc5x,
.containerUserOver-1Tcb7l,
.membersGroup-2eiWxl,
.privateChannelsHeaderContainer-1UWASm,
.containerDefault-3TQ5YN {
    border-top: solid 1px var(--line-color);
    margin-left: 6px;
}
.containerDefault-3GGEv_,
.containerDefault-3TQ5YN {
    padding-top: 8px;
    margin-top: 8px;
}
.privateChannelsHeaderContainer-1UWASm {
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 2px;
}
.pinnedChannelsHeaderContainer-89Gjv4 .headerAmount-_-7GrS {
    height: 17px;
}
.membersGroup-2eiWxl {
    margin: 12px 4px 0 8px;
    padding: 12px 4px 0 8px;
}
.containerDefault-3GGEv_:nth-child(2),
.containerDragAfter-3TEhpe:nth-child(2),
.containerDragBefore-3Dzc5x:nth-child(2),
.containerUserOver-1Tcb7l:nth-child(2),
.membersGroup-2eiWxl:first-child,
.membersGroup-2eiWxl:nth-child(2),
.containerDefault-3TQ5YN:nth-child(2) {
    border-top: none !important;
}
.name-IbjUBS,
.container-q97qHp {
    color: rgba(var(--accent-color-1), 1);
    font-weight: 900;
    font-size: var(--categorySize, 15px);
    text-transform: var(--category-name-transform, unset);
    line-height: calc(var(--categorySize) + 6px);
    transition: color 100ms cubic-bezier(0, 0, 0.35, 1);
    text-shadow: var(--shadow-currentcolor);
}
.containerDefault-3GGEv_ .arrow-2HswgU,
.containerDefault-3TQ5YN .arrow-2HswgU {
    color: rgb(var(--accent-color-1));
    transition: color 100ms cubic-bezier(0, 0, 0.35, 1);
}
.name-IbjUBS:hover {
    color: rgba(var(--accent-color-1), 1);
}
.collapsed-4WdoJ7 .name-IbjUBS,
.collapsed-2KOacR .name-3BUDLf {
    color: rgba(var(--accent-color-1), 0.7);
}
.membersGroup-2eiWxl {
    color: rgb(var(--accent-color-1));
    font-weight: 900;
    font-size: var(--categorySize, 15px);
    text-transform: var(--category-name-transform, unset);
    margin-right: 0;
    margin-left: 8px;
    text-shadow: var(--shadow-currentcolor);
}
.icon-2xnN2Y.privateChannelRecipientsInviteButtonIcon-1ObKXK {
    color: rgb(var(--accent-color-1));
    stroke: transparent !important;
}
.icon-2xnN2Y.privateChannelRecipientsInviteButtonIcon-1ObKXK:hover {
    color: rgb(var(--fullwhite-font));
}
.pinnedChannelsHeaderArrow-44rrTz path {
    fill: rgb(var(--accent-color-1));
    stroke: transparent !important;
}
.clickable-2AoIYN {
    cursor: default;
}
    /* end of Categories Borders  */




    /* Transparentency effects */
/* Top bar */
.withFrame-2dL45i {
    background-color: rgba(var(--wintitlebar-transparency-color), var(--wintitlebar-transparency));
    backdrop-filter: blur(var(--wintitlebar-background-blur));
}
.app-focused .withFrame-2dL45i {
    background-color: rgba(var(--wintb-focused-color), var(--wintb-focused-alpha));
}
/* Header */
.container-2Rl01u,
.container-ZMc96U.themed-Hp1KC_ {
    background: rgba(var(--header-transparency-color), var(--header-transparency));
    backdrop-filter: blur(var(--header-background-blur));
}
/* Serverlist */
.scroller-2TZvBN,
.scroller-3X7KbA {
    background: rgba(var(--serverlist-transparency-color), var(--serverlist-transparency));
    backdrop-filter: blur(var(--serverlist-background-blur));
}
.tree-3tCaw8:focus {
    outline: transparent;
}
/* Channels and DMs */
.sidebar-1tnWFu,
.wrapper-1_HaEi {
    background-color: rgba(var(--channels-transparency-color), var(--channels-transparency));
    backdrop-filter: blur(var(--channels-background-blur));

}
.platform-web .sidebar-1tnWFu {
    border-top: none;
}
/* Chat window (and search) and friendslist */
.chatContent-3KubbW,
.searchResultsWrap-5RVOkx,
.peopleColumn-1wMU14 {
    background-color: rgba(var(--chat-transparency-color), var(--chat-transparency));
    backdrop-filter: blur(var(--chat-background-blur));
}
#app-mount .title-2CL_z0 {
    color: rgb(var(--muted-font));
}
/* No channel/Empty server */
.noChannel-Z1DQK7 {
    background-color: rgba(var(--chat-transparency-color), var(--chat-transparency)) !important;
    backdrop-filter: blur(var(--chat-background-blur)) !important;
}
/* Memberlist */
.container-2o3qEW,
.members-3WRCEx {
    background-color: rgba(var(--memberlist-transparency-color), var(--memberlist-transparency));
    backdrop-filter: blur(var(--memberlist-background-blur));
}
/* Server boost status tiers - stickers */
.tier-3CS7-p {
    border-radius: 0;
    border: solid 1px rgb(var(--accent-color-1));
}
#app-mount .tierHeaderLocked-30MLlO {
    background-color: rgba(var(--darker-background-color), var(--other-highlighted-transparency));
    color: rgb(var(--normal-font));
    border-radius: 0;
}
#app-mount .tierBody-1d3UiS {
    border-top: solid 1px rgb(var(--accent-color-1));
    background-color: rgba(var(--dark-background-color), var(--other-highlighted-transparency));
    color: rgb(var(--normal-font));
    border-radius: 0;
}
.channel-1Shao0 {
    margin-left: 2px;
    max-width: unset;
    cursor: default;
}



/* Channels */
.wrapper-1ucjTd,
.wrapper-NhbLHG {
    padding: 0;
}
.content-3at_AU,
.content-1gYQeQ {
    border-radius: 0;
    margin-left: 3px;
    border-left: solid 2px transparent;
    height: 36px;
}
.addButton-1BORro,
.addButtonIcon-3rJeaD {
    color: rgba(var(--accent-color-1), 0.9);
}
.name-3_Dsmg,
.name-28HaxV {
    color: rgb(var(--normal-font));
    font-weight: 500;
    font-size: var(--textSize, 13px);
    text-transform: var(--channel-name-transform, capitalize);
}
/* Hover over channels color*/
.containerDefault-1ZnADq:hover .content-3at_AU,
.containerDefault-YUSmu3:hover .content-1gYQeQ {
    border-left: solid rgba(var(--accent-color-2), var(--other-highlighted-transparency)) 2px;
    background: rgba(var(--dark-background-color), var(--other-highlighted-transparency));
}

/* Currently Selected Channel */
.modeSelected-1zApJ_ .content-3at_AU,
.modeSelected-1zApJ_:hover .content-3at_AU,
.modeSelected-3DmyhH .content-1gYQeQ,
.modeSelected-3DmyhH:hover .content-1gYQeQ {
    background-color: rgba(var(--accent-color-1), var(--other-highlighted-transparency));
    border-left: solid rgb(var(--accent-color-1)) 2px;
}

.unread-3zKkbm,
.unread-36eUEm {
    display: none;
}
.modeUnread-1zpFdA .content-3at_AU,
.modeUnread-3Cxepe .content-1gYQeQ {
    border-left: solid rgb(var(--fullwhite-font)) 2px;
    background-color: rgba(var(--darker-background-color), var(--other-transparency));
}
.modeUnread-1zpFdA .name-3_Dsmg,
.modeUnread-3Cxepe .name-28HaxV {
    font-style: italic;
}
.modeSelected-1zApJ_ .icon-1_QxNX,
.modeSelected-1zApJ_ .icon-1_QxNX path,
.modeSelected-1zApJ_:hover .icon-1_QxNX,
.modeSelected-1zApJ_:hover .icon-1_QxNX path,
.modeSelected-3DmyhH .icon-2W8DHg,
.modeSelected-3DmyhH .icon-2W8DHg path,
.modeSelected-3DmyhH:hover .icon-2W8DHg,
.modeSelected-3DmyhH:hover .icon-2W8DHg path {
    fill: rgb(var(--fullwhite-font)) !important;
}
.modeSelected-1zApJ_:hover .name-3_Dsmg,
.modeSelected-3DmyhH:hover .name-28HaxV {
    color: rgb(var(--fullwhite-font));
}
.actionIcon-2Hi9ZG:hover path,
.actionIcon-2sw4Sl:hover path {
    stroke: rgb(var(--fullwhite-font));
}
.modeUnread-1zpFdA .icon-1_QxNX,
.modeUnread-1zpFdA:hover .icon-1_QxNX,
.modeUnread-3Cxepe .icon-2W8DHg,
.modeUnread-3Cxepe:hover .icon-2W8DHg {
    color: rgb(var(--normal-font));
}
.modeUnread-1zpFdA .name-3_Dsmg,
.modeUnread-3Cxepe .name-28HaxV {
    color: rgb(var(--fullwhite-font));
}
.icon-1_QxNX path,
.icon-2W8DHg path {
    fill: rgb(var(--normal-font));
}

.modeMuted-3osy7j .icon-1_QxNX path,
.modeMuted-2T4MDZ .icon-2W8DHg path {
    fill: rgb(var(--muted-font));
}
.modeMuted-3osy7j .icon-1_QxNX,
.modeMuted-3osy7j .name-3_Dsmg,
.modeMuted-2T4MDZ .icon-2W8DHg,
.modeMuted-2T4MDZ .name-28HaxV {
    color: rgb(var(--muted-font));
}
.modeMuted-3osy7j .actionIcon-2Hi9ZG,
.modeMuted-2T4MDZ .actionIcon-2sw4Sl {
    stroke: rgb(var(--muted-font));
}
.mainContent-ENyL1r,
.mainContent-20q_Hp {
    cursor: default;
}
.channelNotice-tO6Tus,
.channelNotice-2bJINM {
    border-top: solid 1px var(--line-color);
    -webkit-box-shadow: none;
    box-shadow: none;
}
.channelNotice-2bJINM {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    margin-bottom: 16px;
    border-bottom: none;
}
/* DMs - Private Channels */
.channel-1Shao0 {
    margin-left: 2px;
    max-width: unset;
    cursor: default;
}
.layout-1qmrhw {
    border-radius: 0;
    border-left: solid 2px transparent;
    cursor: default;
}
.clickable-28SzVr{
    background: none;
}
.layout-1qmrhw:hover, 
.clickable-28SzVr:hover{
    border-left-color: rgba(var(--accent-color-2), var(--other-highlighted-transparency));
    background: rgba(var(--darker-background-color), var(--other-highlighted-transparency));
    cursor: default;
}
.selected-1-Z6gm{
    background-color: rgba(var(--accent-color-1), 0.5);
    border-left: solid rgb(var(--accent-color-1)) 2px;
}

/* END OF DMS/SERVER MEMBERS/ Channels */





/* Text Area (chatbox) */
.channelTextArea-1FufC0,
.channelTextArea-220_Gz,
.channelTextAreaUpload-30SRDh,
.channelTextArea-1VQBuV {
    background: transparent;
    border: solid 1px rgba(var(--dark-background-color), var(--other-transparency));
    border-radius: 0;
    transition: 200ms cubic-bezier(0, 0, 0.35, 1) !important;
    transition-property: background-color, border-color, color;
}
.app-focused .channelTextArea-1FufC0:hover,
.app-focused .channelTextArea-220_Gz:hover,
.app-focused .channelTextAreaUpload-30SRDh:hover,
.app-focused .channelTextArea-1VQBuV:hover {
    border-color: rgba(var(--accent-color-2, 255, 55, 109), var(--other-highlighted-transparency));
}
.app-focused .channelTextAreaDisabled-1p2fQv:hover {
    border-color: rgba(var(--gx-red), var(--other-highlighted-transparency));
}
.app-focused .channelTextArea-1FufC0:focus-within,
.app-focused .channelTextArea-220_Gz:focus-within,
.app-focused .channelTextAreaUpload-30SRDh:focus-within,
.app-focused .channelTextArea-1VQBuV:focus-within {
    border: solid 1px rgba(var(--accent-color-1, 250, 30, 70), var(--other-highlighted-transparency));
}
.channelTextArea-1FufC0 .scrollableContainer-15eg7h,
.channelTextArea-220_Gz .scrollableContainer-15eg7h,
.channelTextAreaUpload-30SRDh .scrollableContainer-15eg7h,
.channelTextArea-1VQBuV .scrollableContainer-15eg7h {
    background-color: rgba(var(--darker-background-color), var(--chatbox-transparency));
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 0;
    transition: 200ms cubic-bezier(0, 0, 0.35, 1) !important;
    transition-property: background-color, border-color, color;
}
.app-focused .channelTextArea-1FufC0:focus-within .scrollableContainer-15eg7h,
.app-focused .channelTextArea-220_Gz:focus-within .scrollableContainer-15eg7h,
.app-focused .channelTextAreaUpload-30SRDh:focus-within .scrollableContainer-15eg7h,
.app-focused .channelTextArea-1VQBuV:focus-within .scrollableContainer-15eg7h {
    background-color: rgba(var(--dark-background-color), var(--chatbox-focused-transparency));
    padding-top: 1px;
    padding-bottom: 1px;
}
.channelTextArea-1FufC0 .button-2fCJ0o,
.channelTextArea-220_Gz .button-2fCJ0o,
.channelTextAreaUpload-30SRDh .button-2fCJ0o,
.channelTextArea-1VQBuV { /* buttons */
    color: var(--text-muted);
}
.app-focused .channelTextArea-1FufC0:focus-within .button-2fCJ0o,
.app-focused .channelTextArea-220_Gz:focus-within .button-2fCJ0o,
.app-focused .channelTextAreaUpload-30SRDh:focus-within .button-2fCJ0o,
.app-focused .channelTextArea-1VQBuV:focus-within .button-2fCJ0o { /* buttons focused */
    color: var(--interactive-normal);
}
.channelTextArea-1FufC0 .attachButtonPlus-3IYelE,
.channelTextArea-220_Gz .attachButtonPlus-3IYelE,
.channelTextAreaUpload-30SRDh .attachButtonPlus-3IYelE,
.channelTextArea-1VQBuV .attachButtonPlus-3IYelE { /* attach btn */
    fill: var(--text-muted);
    transition: fill 200ms cubic-bezier(0, 0, 0.35, 1) !important;
}
.app-focused .channelTextArea-1FufC0:focus-within .attachButtonPlus-3IYelE,
.app-focused .channelTextArea-220_Gz:focus-within .attachButtonPlus-3IYelE,
.app-focused .channelTextAreaUpload-30SRDh:focus-within .attachButtonPlus-3IYelE,
.app-focused .channelTextArea-1VQBuV:focus-within .attachButtonPlus-3IYelE { /* attach btn focused */
    fill: var(--interactive-normal);
}
.channelTextArea-1FufC0 .sprite-2lxwfc,
.channelTextArea-220_Gz .sprite-2lxwfc,
.channelTextAreaUpload-30SRDh .sprite-2lxwfc,
.channelTextArea-1VQBuV .sprite-2lxwfc { /* emoji btn */
    opacity: 0.6;
    transition: opacity 200ms cubic-bezier(0, 0, 0.35, 1) !important;
}
.app-focused .channelTextArea-1FufC0:focus-within .sprite-2lxwfc,
.app-focused .channelTextArea-220_Gz:focus-within .sprite-2lxwfc,
.app-focused .channelTextAreaUpload-30SRDh:focus-within .sprite-2lxwfc,
.app-focused .channelTextArea-1VQBuV:focus-within .sprite-2lxwfc { /* emoji btn focused */
    filter: grayscale(0%) !important;
    opacity: 1;
}
#app-mount .markup-eYLPri.slateTextArea-27tjG0,
#app-mount .placeholder-1_mJY1 {
    font-weight: 400;
    /*font-size: 0.85rem;
    line-height: 1.125rem;*/
}

/* End of Text Area */


/* Folder Background Color */
.expandedFolderBackground-1kSAf6,
.expandedFolderBackground-2sPsd-,
.expandedFolderBackground-1cujaW {
    background: linear-gradient(135deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));
    opacity: 0.3;
    transition: opacity 100ms cubic-bezier(0, 0, 0.35, 1);
    border-radius: 17px 17px 24px 24px !important;
}
.expandedFolderBackground-1kSAf6.hover-3m7-WT,
.expandedFolderBackground-2sPsd-.hover-2ji_A7,
.expandedFolderBackground-1cujaW.hover-qTxTR_ {
    opacity: 0.5;
}

