/* Languages */
#app-mount pre code[class~=hljs]:before {
    content: "<!> Unknown Language";
}
#app-mount pre code[class~=diff i]:before {
    content: "</> Difference (diff)";
    --cb-accent-color: rgb(152, 193, 255);
}
#app-mount pre code[class~=cs i]:before,
#app-mount pre code[class~=csharp i]:before {
    content: "</> C# (CSharp, cs)";
    --cb-accent-color: rgb(34, 120, 250);
}
#app-mount pre code[class~=ini i]:before {
    content: "</> Initialization (ini)";
}
#app-mount pre code[class~=autohotkey i]:before,
#app-mount pre code[class~=ahk i]:before {
    content: "</> AutoHotKey (ahk)";
    --cb-accent-color: rgb(71, 187, 36);
}
#app-mount pre code[class~=asciidoc i]:before,
#app-mount pre code[class~=adoc i]:before {
    content: "</> AsciiDoc (adoc)";
}
#app-mount pre code[class~=TOML i]:before {
    content: "</> TOML";
}
#app-mount pre code[class~=nginx i]:before {
    content: "</> NGINX";
}
#app-mount pre code[class~=perl i]:before {
    content: "</> Perl";
}
#app-mount pre code[class~=d i]:before {
    content: "</> Dlang (d)";
}
#app-mount pre code[class~=fix i]:before {
    content: "</> Fix";
}
#app-mount pre code[class~=javascript i]:before, #app-mount pre code[class~=js i]:before {
    content: "</> JavaScript (js)";
    --cb-accent-color: rgb(79, 152, 65);
}
#app-mount pre code[class~=json i]:before {
    content: "</> JavaScript Object Notation (json)";
    --cb-accent-color: rgb(79, 152, 65);
}
#app-mount pre code[class~=css i]:before {
    content: "</> Cascading Style Sheet (css)";
    --cb-accent-color: rgb(34, 120, 250);
}
#app-mount pre code[class~=bash i]:before {
    content: "</> Bash";
}
#app-mount pre code[class~=markdown i]:before,
#app-mount pre code[class~=md i]:before {
    content: "</> Markdown (md)";
    --cb-accent-color: rgb(34, 120, 250);
}
#app-mount pre code[class~=html i]:before {
    content: "</> Hypertext Markup Language (html)";
    --cb-accent-color: rgb(248, 136, 8);
}
#app-mount pre code[class~=xml i]:before {
    content: "</> Extensible Markup Language (xml)";
    --cb-accent-color: rgb(242, 70, 0);
}
#app-mount pre code[class~=xl i]:before {
    content: "</> eXtensible Language (xl)";
}
#app-mount pre code[class~=coffee i]:before,
#app-mount pre code[class~=coffeescript i]:before {
    content: "</> CoffeeScript (coffee)";
    --cb-accent-color: rgb(214, 200, 0);
}
#app-mount pre code[class~=ruby i]:before,
#app-mount pre code[class~=rb i]:before {
    content: "</> Ruby (rb)";
    --cb-accent-color: rgb(255, 19, 78);
}
#app-mount pre code[class~=sql i]:before {
    content: "</> SQL";
}
#app-mount pre code[class~=java i]:before {
    content: "</> Java";
    --cb-accent-color: rgb(79, 152, 65);
}
#app-mount pre code[class~=py i]:before,
#app-mount pre code[class~=python i]:before {
    content: "</> Python (py)";
    --cb-accent-color: rgb(34, 120, 250);
}
#app-mount pre code[class~=vb i]:before,
#app-mount pre code[class~=visualbasic i]:before,
#app-mount pre code[class~=vbs i]:before {
    content: "</> Visual Basic";
}
#app-mount pre code[class~=lua i]:before {
    content: "</> Lua";
}
#app-mount pre code[class~=php i]:before {
    content: "</> PHP: Hypertext Preprocessor (php)";
    --cb-accent-color: rgb(118, 159, 221);
}
#app-mount pre code[class~=swift i]:before {
    content: "</> Swift";
}
#app-mount pre code[class~=m i]:before {
    content: "</> Data Mashup (m)";
}
#app-mount pre code[class~=makefile i]:before,
#app-mount pre code[class~=mk i]:before {
    content: "</> Makefile (mk)";
}
#app-mount pre code[class~=go i]:before {
    content: "</> Go";
}
#app-mount pre code[class~=rust i]:before {
    content: "</> Rust";
}
#app-mount pre code[class~=prolog i]:before {
    content: "</> Prolog";
}
#app-mount pre code[class~=ts i]:before,
#app-mount pre code[class~=typescript i]:before {
    content: "</> TypeScript (ts)";
}
#app-mount pre code[class~=http i]:before {
    content: "</> HyperText Transfer Protocol (http)";
    --cb-accent-color: rgb(255, 255, 0);
}
#app-mount pre code[class~=https i]:before {
    content: "</> HyperText Transfer Protocol Secure (https)";
    --cb-accent-color: rgb(0, 255, 0);
}
#app-mount pre code[class~=less i]:before {
    content: "</> Less";
}
#app-mount pre code[class~=sass i]:before,
#app-mount pre code[class~=scss i]:before {
    content: "</> Sassy CSS (scss)";
    --cb-accent-color: rgb(34, 120, 250);
}
#app-mount pre code[class~=elm i]:before {
    content: "</> Elm";
}
#app-mount pre code[class~=cpp i]:before {
    content: "</> C++ (cpp)";
    --cb-accent-color: rgb(34, 120, 250);
}
#app-mount pre code[class~=hbs i]:before,
#app-mount pre code[class~=handlebars i]:before {
    content: "</> Handlebars (hbs)";
}
#app-mount pre code[class~=h i]:before {
    content: "</> H";
}
#app-mount pre code[class~="1c" i]:before {
    content: "</> 1C";
}
#app-mount pre code[class~=abnf i]:before {
    content: "</> Augmented Backus–Naur form (abnf)";
}
#app-mount pre code[class~=clojure i]:before {
    content: "</> Clojure";
}
#app-mount pre code[class~=objc i]:before {
    content: "</> Objective-C (objc)";
}
#app-mount pre code[class~=c i]:before {
    content: "</> C";
    --cb-accent-color: rgb(34, 120, 250);
}
#app-mount pre code[class~=k i]:before {
    content: "</> K";
}
#app-mount pre code[class~=pp i]:before,
#app-mount pre code[class~=pascal i]:before,
#app-mount pre code[class~=pas i]:before {
    content: "</> Pascal (pas, pp)";
}
#app-mount pre code[class~=q i]:before {
    content: "</> Q";
}
#app-mount pre code[class~=r i]:before {
    content: "</> R";
}
#app-mount pre code[class~=v i]:before {
    content: "</> Vlang (v)";
}
#app-mount pre code[class~=yaml i]:before,
#app-mount pre code[class~=yml i]:before {
    content: "</> YAML Ain't Markup Language (yaml, yml)";
    --cb-accent-color: rgb(79, 152, 65);
}
#app-mount pre code[class~=shell i]:before,
#app-mount pre code[class~=sh i]:before {
    content: "</> Shell (sh)";
}
#app-mount pre code[class~=st i]:before {
    content: "</> Structured Text (st)";
}
#app-mount pre code[class~=txt i]:before,
#app-mount pre code[class~=text i]:before {
    content: "<…> Plain Text (txt)";
    --cb-accent-color: rgba(191, 192, 193);
}
#app-mount pre code[class~=tex i]:before {
    content: "</> TeX";
}
#app-mount pre code[class~=latex i]:before {
    content: "</> LaTeX";
}
#app-mount pre code[class~=kotlin i]:before {
    content: "</> Kotlin";
}
#app-mount pre code[class~=apache i]:before {
    content: "</> Apache";
}
#app-mount pre code[class~=stylus i]:before,
#app-mount pre code[class~=styl i]:before {
    content: "</> Stylus (styl)";
    --cb-accent-color: rgb(0, 225, 255);
}
#app-mount pre code[class~=avrasm i]:before {
    content: "</> AVR Assembler (avrasm)";
}
#app-mount pre code[class~=llvm i]:before {
    content: "</> LLVM iR (llvm)";
}
#app-mount pre code[class~=mipsasm i]:before {
    content: "</> MIPS Assembly (mipsasm)";
}
#app-mount pre code[class~=x86asm i]:before {
    content: "</> Intel x86 Assembly (x86asm)";
    --cb-accent-color: rgb(30, 181, 241);
}
#app-mount pre code[class~=crmsh i]:before {
    content: "</> crmsh";
}
#app-mount pre code[class~=dns i]:before {
    content: "</> DNS Zone File (dns)";
}
#app-mount pre code[class~=do i]:before {
    content: "</> do";
}
#app-mount pre code[class~=docker i]:before {
    content: "</> Docker";
}
#app-mount pre code[class~=dockerfile i]:before {
    content: "</> Dockerfile";
}
#app-mount pre code[class~=dsconfig i]:before {
    content: "</> dsconfig";
}
#app-mount pre code[class~=jboss-cli i]:before {
    content: "</> jboss-cli";
}
#app-mount pre code[class~=ldif i]:before {
    content: "</> LDAP Data Interchange Format (ldif)";
}
#app-mount pre code[class~="pf.conf" i]:before {
    content: "</> pf.conf";
}
#app-mount pre code[class~=puppet i]:before {
    content: "</> Puppet";
}
#app-mount pre code[class~=roboconf i]:before {
    content: "</> Roboconf";
}
#app-mount pre code[class~=axapta i]:before {
    content: "</> Microsoft Dynamics AX (axapta)";
}
#app-mount pre code[class~=cos i]:before {
    content: "</> Cache Object Script (cos)";
}
#app-mount pre code[class~=isbl i]:before {
    content: "</> Information System Based Language (isbl)";
}
#app-mount pre code[class~=livecodeserver i]:before {
    content: "</> LiveCode (livecodeserver)";
}
#app-mount pre code[class~=ruleslanguage i]:before {
    content: "</> Oracle Rules Language (ruleslanguage)";
}
#app-mount pre code[class~=clean i]:before {
    content: "</> Clean";
}
#app-mount pre code[class~=coq i]:before {
    content: "</> coq";
}
#app-mount pre code[class~=elixir i]:before {
    content: "</> Elixir";
}
#app-mount pre code[class~=erlang-repl i]:before {
    content: "</> Erlang REPL (erlang-repl)";
}
#app-mount pre code[class~=erl i]:before,
#app-mount pre code[class~=erlang i]:before {
    content: "</> Erlang (erl)";
}
#app-mount pre code[class~=flix i]:before {
    content: "</> Flix";
}
#app-mount pre code[class~=fsharp i]:before,
#app-mount pre code[class~=fs i]:before {
    content: "</> F# (FSharp, fs)";
}
#app-mount pre code[class~=haskell i]:before {
    content: "</> Haskell";
}
#app-mount pre code[class~=ocaml i]:before {
    content: "</> OCaml";
}
#app-mount pre code[class~=scala i]:before {
    content: "</> Scala";
}
#app-mount pre code[class~=sml i]:before {
    content: "</> Standard ML (sml)";
}
#app-mount pre code[class~=xquery i]:before {
    content: "</> XML Query (xquery)";
}
#app-mount pre code[class~=glsl i]:before {
    content: "</> OpenGL Shading Language (glsl)";
}
#app-mount pre code[class~=mel i]:before {
    content: "</> Maya Embedded Language (mel)";
}
#app-mount pre code[class~=processing i]:before {
    content: "</> Processing";
}
#app-mount pre code[class~=rib i]:before {
    content: "</> RenderMan RIB (rib)";
}
#app-mount pre code[class~=rsl i]:before {
    content: "</> RenderMan RSL (rsl)";
}
#app-mount pre code[class~=armasm i]:before {
    content: "</> Arm Assembly (armasm)";
}
#app-mount pre code[class~=asm i]:before,
#app-mount pre code[class~=assembly i]:before {
    content: "</> Assembly (asm)";
}
.powercord-codeblock-lang {
    display: none;
}