/* Search in Chat */
.searchBar-zdmu7v {
    border-radius: 10;
    background: rgba(var(--darker-background-color), var(--other-transparency));
    border: solid 1px rgba(var(--dark-background-color), var(--other-transparency));
    height: 26px;
}
.searchBar-zdmu7v:hover,
.focused-8aNhVB .searchBar-zdmu7v,
.open-3y3yI_ .searchBar-zdmu7v {
    background: rgba(var(--dark-background-color), var(--other-highlighted-transparency));
    border-color: rgb(var(--accent-color-2));
}
.full-motion.app-focused .searchBar-zdmu7v:hover,
.full-motion.app-focused .focused-8aNhVB .searchBar-zdmu7v {
    animation: accent-blinking 450ms infinite;
}
#app-mount .container-2McqkF {
    background-color: rgb(var(--dark-background-color));
    -webkit-box-shadow: none;
    box-shadow: none;
    border: solid 1px rgb(var(--accent-color-2));
    border-radius: 10;
}
#app-mount .option-2KkUJO.user-23VtPS .displayedNick-2dDbfG {
    color: rgb(var(--normal-hover-font));
}
#app-mount .option-2KkUJO.user-23VtPS .displayUsername-14aOpK {
    color: rgb(var(--muted-font));
}
.full-motion.app-focused #app-mount .container-2McqkF {
    animation: accent-blinking 450ms infinite;
}
#app-mount .option-2KkUJO:after {
    background: linear-gradient(90deg, rgba(var(--dark-background-color), 0), rgba(var(--dark-background-color), 1));
}
#app-mount .filter-5YbOzJ {
    color: rgb(var(--muted-font));
}
#app-mount .answer-2fBfuP,
#app-mount .nonText-3_4gtu {
    color: rgb(var(--normal-font));
}
#app-mount .queryContainer-ZunrLZ strong {
    color: rgb(var(--fullwhite-font));
}
#app-mount .option-2KkUJO {
    border: solid 1px transparent;
    margin-top: -1px;
    line-height: 24px;
}
#app-mount .resultsGroup-1BPR25 .header-3A13BX,
#app-mount .resultsGroup-1BPR25 .plusIcon-2V7coV,
#app-mount .resultsGroup-1BPR25 .searchClearHistory-2Be-92,
#app-mount .resultsGroup-1BPR25 .searchLearnMore-7__o_n a {
    color: rgb(var(--normal-font));
}
#app-mount .option-2KkUJO.selected-rZcOL- {
    border-radius: 10;
    border: solid 1px rgb(var(--accent-color-1));
    background-color: rgb(var(--darker-background-color));
}
#app-mount .searchFilter-2UfsDk,
#app-mount .searchAnswer-23w-CH {
    border-radius: 10;
    border: solid 1px rgb(var(--accent-color-1));
    background-color: rgb(var(--darker-background-color));
    color: rgb(var(--fullwhite-font));
}
#app-mount .searchFilter-2UfsDk {
    border-right: transparent;
}
#app-mount .searchAnswer-23w-CH {
    border-left: transparent;
}
#app-mount .resultsGroup-1BPR25:before {
    border-top-color: rgb(var(--accent-color-1));
}
#app-mount .focused-2FU0YH {
    background-color: rgb(var(--darker-background-color));
}
#app-mount .queryContainer-ZunrLZ {
    color: rgb(var(--normal-font));
    border-bottom-color: rgb(var(--accent-color-1));
}
#app-mount .searchResultChannelCategory-3cL8uG,
#app-mount .searchResultChannelIcon-1Il1Qo {
    color: rgb(var(--muted-font));
}
#app-mount .option-2KkUJO strong {
    color: rgb(var(--normal-hover-font));
}
