/* Search Results */
.searchResultsWrap-5RVOkx {
    background: transparent;
}
.searchResultMessage-1fxgXh.hit-1fVM9e {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: rgba(var(--dark-background-color), var(--other-highlighted-transparency));
    border: solid 1px var(--line-color);
    border-radius: 10;
}
.searchHeader-1r_ZSh {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: solid 1px var(--line-color);
}
.searchResult-O9NDji.expanded-w_LCGl {
    border: solid 1px var(--line-color-2);
    background-color: rgba(var(--darker-background-color), var(--other-transparency));
    border-radius: 10;
}
.expanded-w_LCGl .searchResultMessage-1fxgXh.hit-1fVM9e {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: rgba(var(--dark-background-color), var(--other-transparency));
    border-radius: 10;
    border-color: var(--line-color-2);
}
.channelSeparator-1DOiGt {
    margin-bottom: 2px;
}
.channelSeparator-1DOiGt:before {
    border-bottom: solid 1px var(--line-color);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
.highlight {
    background: rgba(var(--accent-color-1), 0.3);
    color: rgb(var(--normal-hover-font));
}
.before-2RL1Gz .timestamp-p1Df1m,
.after-20SH8W .timestamp-p1Df1m {
    cursor: pointer;
}
.expanded-w_LCGl .timestamp-p1Df1m {
    cursor: default;
}
.searchResult-O9NDji {
    border-radius: 10;
    border: solid 1px var(--line-color-1);
    background-color: rgba(var(--darker-background-color), var(--other-transparency))
}
#app-mount .tab-2j5AEF {
    border-radius: 2px;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 5px;
}
#app-mount .tab-2j5AEF.selected-2LAck8 {
    background: linear-gradient(135deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));
    color: rgb(var(--font-in-accent));
    font-weight: 900;
}
.searchHeader-1r_ZSh,
.scroller-3iiyhZ {
    background-color: rgb(var(--memberlist-transparency-color), var(--memberlist-transparency))
}