/*-- 6.5. HLJS Names --*/
/* Init */
#app-mount pre code:before {
    --cb-accent-color: rgb(var(--accent-color-2));
    content: "<!> Unknown Language";
    display: block;
    box-sizing: border-box;
    white-space: pre-line;
    overflow: hidden;
    line-height: 1rem;
    font-weight: 900;
    font-family: var(--cbcf);
    color: var(--cb-accent-color);
    border-bottom: solid 1px var(--cb-accent-color);
    padding-bottom: 0.3rem;
    width: 100%;
    margin-bottom: 0.5rem;
}