/* ServerBackground */
.childWrapper-1j_1ub {
    background-color: transparent;
    transition: 0ms;
}
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub {
    background: linear-gradient(135deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));
    background-color: transparent;
    color: rgb(var(--font-in-accent));
    font-weight: 900;
    transition: 0ms;
}
.wordmark-2u86JB:after {
    color: white !important;
    display: block !important;
    position: absolute !important;
    max-width: unset !important;
    min-width: unset !important;
    width: 55px !important;
    max-height: unset !important;
    min-height: unset !important;
    height: 16px !important;
    margin: 0 !important;
    padding: 3px 9px 3px !important;
    top: 0 !important;
    left: 0 !important;
    bottom: unset !important;
    right: unset !important;
    opacity: 0.6 !important;
    visibility: visible !important;
    transform: unset !important;
    animation: unset !important;
    /*content: none !important;*/
}