/* Old Auth screen */
#app-mount .authBox-1HR6Ha {
    background: rgb(var(--dark-background-color));
    border-radius: 10;
    color: rgb(var(--muted-font));
    border: solid 1px var(--line-color);
}
.rightSplit-24Bqk0 {
    opacity: 0;
}
.lookLink-15mFoz.colorBrand-I6CyqQ {
    color: rgb(var(--accent-color-1));
}
.lookLink-15mFoz.colorBrand-I6CyqQ:hover .contents-3ca1mk {
    background-image: linear-gradient(0deg, transparent, transparent 1px, rgb(var(--accent-color-1)) 0, rgb(var(--accent-color-1)) 2px,transparent 0);
}
.fallbackImage-kwjEnv {
    opacity: 0;
    display: none;
}
/* New Auth screen */
.characterBackground-1BPOOJ {
    overflow: hidden;
}
.characterBackground-1BPOOJ .artwork-L5TAwQ,
.characterBackground-1BPOOJ .logo-3ac3fP {
    display: none;
}
.wrapper-1f5byN {
    border-top: solid 1px var(--line-color);
}
.verticalSeparator-2r9gHa {
    border-color: transparent;
}