/*-- 17.3. Authorize access to your account (Bot Login) --*/
.oauth2Wrapper-p_8bbd {
    border-radius: 10;
    background-image: linear-gradient(135deg, rgb(var(--dark-background-color)), rgb(var(--darker-background-color)));
    border: solid 1px rgb(var(--accent-color-1));
}
.footer-3Gu_Tl {
    background-image: linear-gradient(270deg, rgb(var(--dark-background-color)), rgb(var(--darker-background-color)));
    border-top: solid 1px rgb(var(--accent-color-1));
}
.logoutLink-mirmUT {
    color: rgb(var(--accent-color-1));
}
.scopeTimes-KsAOBb {
    background-color: rgb(var(--gx-grey));
}
.scopeCheck-3trytX {
    background-color: rgb(var(--gx-green));
}
.scopeTimes-KsAOBb,
.scopeCheck-3trytX {
    border-radius: 2px;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 4px;
}
.sectionLabel-eOcIZ3 {
    color: rgb(var(--accent-color-1));
    text-transform: unset;
}
.sectionLabel-eOcIZ3.size12-oc4dx4 {
    font-size: 18px;
}