/* Calendar */
#app-mount .calendarPicker-sDhzdi .react-datepicker {
    background-color: rgb(var(--dark-background-color));
}
.react-datepicker {
    border-radius: 10;
}
#app-mount .datePicker-70cO23 .datePickerHint-17MnA8 {
    border-top: solid 1px rgb(var(--accent-color-1));
}
#app-mount .calendarPicker-sDhzdi .react-datepicker__day {
    border-color: rgb(var(--accent-color-1));
    color: rgb(var(--fullwhite-font));
    background-color: rgb(var(--darker-background-color))
}
.calendarPicker-sDhzdi .react-datepicker__day {
    width: 39px;
    height: 39px;
}
#app-mount .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--selected:hover,
#app-mount .calendarPicker-sDhzdi .react-datepicker__day:hover {
    color: rgb(var(--fullwhite-font));
    background: linear-gradient(135deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));
}
#app-mount .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--selected:after {
    background: linear-gradient(135deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));
}
#app-mount .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--selected:hover:after,
#app-mount .calendarPicker-sDhzdi .react-datepicker__day:hover:after {
    background: none;
}
#app-mount .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--disabled,
#app-mount .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--disabled:hover {
    background: rgb(var(--dark-background-color));
}
#app-mount .calendarPicker-sDhzdi .react-datepicker__day--disabled,
#app-mount .calendarPicker-sDhzdi .react-datepicker__day--outside-month {
    background: rgb(var(--dark-background-color));
}
.calendarPicker-sDhzdi .react-datepicker__week:first-of-type>.react-datepicker__day:first-of-type,
.calendarPicker-sDhzdi .react-datepicker__week:first-of-type>.react-datepicker__day:last-of-type,
.calendarPicker-sDhzdi .react-datepicker__week:last-of-type>.react-datepicker__day:first-of-type,
.calendarPicker-sDhzdi .react-datepicker__week:last-of-type>.react-datepicker__day:last-of-type {
    border-radius: 10;
}
#app-mount .datePicker-70cO23 .datePickerHint-17MnA8 .hintValue-1x-flY {
    border: solid 1px rgb(var(--accent-color-1));
    border-radius: 10;
    background: rgb(var(--darker-background-color));
    color: rgb(var(--fullwhite-font));
}
#app-mount .datePicker-70cO23 .datePickerHint-17MnA8 .hintValue-1x-flY:hover {
    background: rgb(var(--dark-background-color));
}
#app-mount .calendarPicker-sDhzdi .react-datepicker__header {
    background: none;
}
#app-mount .calendarPicker-sDhzdi .react-datepicker__current-month {
    border-bottom-color: rgb(var(--accent-color-1));
    color: rgb(var(--fullwhite-font));
}
#app-mount .datePicker-70cO23,
#app-mount .datePicker-70cO23 .datePickerHint-17MnA8 {
    border-top: none;
}
#app-mount .calendarPicker-sDhzdi .react-datepicker__day-name {
    color: rgb(var(--muted-font));
}
.calendarPicker-sDhzdi .react-datepicker__day-name {
    width: 39px;
}
#app-mount .calendarPicker-sDhzdi .react-datepicker__navigation.react-datepicker__navigation--next,
#app-mount .calendarPicker-sDhzdi .react-datepicker__navigation.react-datepicker__navigation--previous {
    border-color: rgb(var(--accent-color-1));
    border-radius: 10;
    background-image: none;
    transform: rotate(0deg);
}
#app-mount .calendarPicker-sDhzdi .react-datepicker__navigation.react-datepicker__navigation--next:hover,
#app-mount .calendarPicker-sDhzdi .react-datepicker__navigation.react-datepicker__navigation--previous:hover {
    background-image: none;
}
#app-mount .calendarPicker-sDhzdi .react-datepicker__navigation.react-datepicker__navigation--next:before,
#app-mount .calendarPicker-sDhzdi .react-datepicker__navigation.react-datepicker__navigation--previous:before {
    position: absolute;
    content: "-";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 17px;
    color: rgb(var(--normal-font));
    font-weight: 900;
}
#app-mount .calendarPicker-sDhzdi .react-datepicker__navigation.react-datepicker__navigation--previous:before {
    content: "<"
}
#app-mount .calendarPicker-sDhzdi .react-datepicker__navigation.react-datepicker__navigation--next:before {
    content: ">"
}
#app-mount .datePicker-70cO23 .datePickerHint-17MnA8 .hint-3D5yHh {
    color: rgb(var(--normal-font));
}