/* Changelogs */
.improved-1NJK-y {
    color: rgb(var(--accent-color-1));
}
.improved-1NJK-y:after {
    background-color: rgb(var(--accent-color-1));
}
.added-2hLRj3 {
    color: rgb(var(--gx-green));
}
.added-2hLRj3:after {
    background-color: rgb(var(--gx-green));
}
.fixed-3zCC84 {
    color: rgb(var(--gx-red));
}
.fixed-3zCC84:after {
    background-color: rgb(var(--gx-red));
}
/* Changelogs */
#app-mount .date-1k6kG2 {
    color: rgb(var(--muted-font));
}