/*-- 6.6. Download Apps (Browser) --*/
.downloadApps-14IgKV .platforms-15zUsJ .platform-1ZMvDu.active-1j5w_A {
    border-color: rgb(var(--accent-color-1));
}

.downloadApps-14IgKV .platforms-15zUsJ .platform-1ZMvDu {
    border: 2px solid #99aab5;
    border-radius: 10;
}
.downloadApps-14IgKV .platforms-15zUsJ .platform-1ZMvDu.active-1j5w_A .downloadButton-2XskEc {
    background-color: rgb(var(--accent-color-1));
    color: rgb(var(--font-in-accent));
}
.downloadApps-14IgKV .platforms-15zUsJ .platform-1ZMvDu .downloadButton-2XskEc {
    transition: 0.3s ease-in-out;
    transition-property: background-color, color;
    background-color: rgb(var(--dark-background-color));
    border-radius: 10;
    font-weight: 700;
    font-size: 14px;
    color: rgb(var(--fullwhite-font));
}
.downloadApps-14IgKV .footer-2TRYcZ a {
    color: rgb(var(--accent-color-1));
}
.downloadApps-14IgKV .footer-2TRYcZ:after {
    content: " This part of the theme is not finished.";
    text-transform: uppercase;
}
.downloadApps-14IgKV .platforms-15zUsJ .platform-1ZMvDu.active-1j5w_A p {
    color: rgb(var(--accent-color-1));
}
.downloadApps-14IgKV .platforms-15zUsJ .platform-1ZMvDu p {
    text-transform: unset;
    font-size: 16px;
    color: rgb(var(--muted-font));
}
.backdrop-2ByYRN[style*="rgb(255, 255, 255)"] {
    background-color: rgb(var(--darker-background-color)) !important;
    background-image: linear-gradient(135deg, rgb(var(--dark-background-color)), rgb(var(--darker-background-color))) !important;
}