/*~~ 4. Font ~~*/

:root {
    --cf: var(--customFont, --custom-font, Chakra Petch, "Chakra Petch Regular", Whitney, Whitney Book, Helvetica Neue, Helvetica, Arial, sans-serif);
    --cbcf: var(--codeBlocksCustomFont, --codeblocks-custom-font, Consolas, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Monaco, Courier New, Courier, monospace);
}
::-webkit-input-placeholder,
body,
button,
input,
select,
textarea,
* {
    font-family: var(--cf);
}
span[class*="hljs"],
span[class*="hljs"] span,
.codeLine-3a3dbd span span span,
code,
.markup-eYLPri code.inline,
.codeBlockText-311wOq,
.codeLine-3a3dbd,
.after_inlineCode-WydEur,
.before_inlineCode-xn8Llh,
.inlineCode-2auMQi span,
.durationTimeDisplay-QwCeRr,
.durationTimeSeparator-1Cqi9N,
.powercord-codeblock-table td,
.prefix-24L010,
.maxLength-IdVNmX,
.wrapper-pZmgj4 *,
.wrapper-2fEmwW *,
.inviteCode-3IYjBf,
#bd-customcss-editor *,
.timestamp-p1Df1m span,
.timestamp-2qj4__,
.messageContent-2t3eCI:after {
    font-family: var(--cbcf);
}