/* Friend Activity */
.container-1oAagU {
    background-color: transparent;
}
.scroller-hE2gWq {
    border-left: none;
}

/* Friendlist and Stage Discovery */
.username-Qpc78p {
    line-height: 18px;
}
.actionButton-3-B2x- {
    background-color: rgba(var(--dark-background-color), var(--other-transparency));
    border: solid 1px rgba(var(--darker-background-color), var(--other-transparency));
    border-radius: 10;
    margin-left: -1px;
    width: 30px;
    height: 30px;
}
.actionButton-3-B2x-.highlight-3DSi7b {
    background-color: rgba(var(--darker-background-color), var(--other-highlighted-transparency));
    border-color: rgba(var(--accent-color-2), var(--other-highlighted-transparency));
}
.full-motion.app-focused .actionButton-3-B2x-.highlight-3DSi7b {
    animation: accent-blinking-with-transparency 450ms infinite;
}
.peopleListItem-u6dGxF {
    border-radius: 0 !important;
    border-top: none;
    margin-top: -1px;
}
.peopleListItem-u6dGxF.active-2UF8Zh,
.peopleListItem-u6dGxF:hover {
    background: linear-gradient(135deg, rgba(var(--accent-color-1), 0.3), rgba(var(--accent-color-2), 0.3));
    border: solid 1px var(--line-color-1);
    margin: -1px 9px 0 19px;
}
.peopleListItem-u6dGxF.active-2UF8Zh {
    border-color: rgba(var(--accent-color-1), var(--other-highlighted-transparency));
}
.peopleListItem-u6dGxF:hover {
    border-color: rgba(var(--accent-color-2), var(--other-highlighted-transparency));
}
.full-motion.app-focused .peopleListItem-u6dGxF.active-2UF8Zh,
.full-motion.app-focused .peopleListItem-u6dGxF:hover {
    animation: accent-blinking-with-transparency 450ms infinite;
}
.peopleColumn-1wMU14,
.stageSection-3mAD8V {
    background-color: rgba(var(--chat-transparency-color), var(--chat-transparency));
    backdrop-filter: blur(var(--chat-background-blur));
}
.nowPlayingColumn-1eCBCN,
.nowPlayingSidebar-2OFn0o {
    background-color: rgba(var(--memberlist-transparency-color), var(--memberlist-transparency));
    backdrop-filter: blur(var(--memberlist-background-blur));
}
.peopleList-2VBrVI {
    margin-top: 0;
}
#app-mount .container-S9SaVf {
    background-color: var(--background-secondary-alt);
    border-radius: 10;
    border: solid 1px var(--line-color);
}
#app-mount .container-S9SaVf:hover {
    background-color: var(--background-secondary);
    border-radius: 10;
    border-color: var(--line-color-2);
}
.full-motion.app-focused #app-mount .container-S9SaVf:hover {
     animation: accent-blinking 450ms infinite;
}
.container-S9SaVf.loading-2PktB_ {
    -webkit-animation: placeholderPulse-3MG86Y 2s ease-in-out infinite !important;
    animation: placeholderPulse-3MG86Y 2s ease-in-out infinite !important;
    border-color: var(--background-secondary) !important;
}
.container-7Unqij {
    border-radius: 10;
    background-color: transparent;
    border: solid 1px var(--line-color);
}
#app-mount .container-S9SaVf:hover .container-7Unqij {
    border-color: var(--line-color-2);
}
.full-motion.app-focused #app-mount .container-S9SaVf:hover .container-7Unqij {
    animation: accent-blinking 450ms infinite;
}