/* Keybinds */
#app-mount .keybind-13vtq8 {
    color: rgb(var(--muted-font));
}
#app-mount .keybindShortcut-3zF1P9 span {
    color: rgb(var(--fullwhite-font));
    -webkit-box-shadow: inset 0 -4px 0 rgb(var(--dark-background-color));
    box-shadow: inset 0 -4px 0 rgb(var(--darker-background-color));
    border: 1px solid rgb(var(--darker-background-color));
    border-radius: 10;
    background-color: rgba(var(--dark-background-color), 1);
    border: solid 1px rgb(var(--accent-color-1))
}
#app-mount .keybindShortcut-3zF1P9 span:active {
    -webkit-box-shadow: inset 0 -2px 0 rgb(var(--dark-background-color));
    box-shadow: inset 0 -2px 0 rgb(var(--darker-background-color));
}
.keybindShortcut-3zF1P9 g {
    fill: rgb(var(--fullwhite-font)) !important;
}
.container-30qY7E {
    border-radius: 10;
}
.container-1_EVMa:not(.disabled-3S7pz8):focus-within,
.container-1_EVMa:not(.disabled-3S7pz8):hover {
    border-color: rgba(var(--gx-red), 0.3);
}
#app-mount .container-30qY7E {
    background-color: rgb(var(--darker-background-color));
    border-color: rgb(var(--darker-background-color));
}
#app-mount .container-1_EVMa.reording-1H2dS7 {
    color: rgb(var(--gx-red));
    border-color: rgb(var(--gx-red), 0.6);
    -webkit-box-shadow: 0 0 6px rgba(var(--gx-red), 0.3);
    box-shadow: 0 0 6px rgba(var(--gx-red), 0.3);
}
/* Keyboard Combos Ctrl + / */
#app-mount .keyboardShortcutsModal-2CRmCm {
    background-color: rgb(var(--darker-background-color));
    border-radius: 10;
    border: solid 1px rgb(var(--accent-color-1));
}
#app-mount .modalTitle-2skSKy {
    color: rgb(var(--fullwhite-font));
    font-weight: 600;
}
#app-mount .modalSubtitle-2lx7qk {
    border-bottom: solid 1px rgb(var(--accent-color-1));
    color: var(--text-normal);
}
#app-mount .keyboardShortcutList-3VFAYS .keybindGroup-39HP2U .keybindDescription-oXh6w_ {
    color: rgb(var(--normal-font));
    font-weight: 500;
}


/* Keyboard Navigation */
.ring-370dIp {
    --__adaptive-focus-color: rgb(var(--accent-color-1)) !important;
    --__adaptive-radius: 0 !important;
}
.focusRing-2_fyOA {
    border-radius: 0 !important;
}