/* Library and Game Download/Update */
.gameIcon-1mDo1J[style*="background-image"] {
    border-radius: 2px;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 6px;
}
.foreground-2JnqVD {
    stroke: rgb(var(--accent-color-1));
}
#app-mount .background-3laMJt {
    stroke: rgba(var(--dark-background-color), var(--other-highlighted-transparency));
}
#app-mount .usageInfo-2CQ9c7 {
    color: rgb(var(--normal-font));
}
#app-mount .rowTitle-2MoCno {
    color: rgb(var(--fullwhite-font));
}
.gameUpdates-3Ts_5W {
    background-color: rgba(var(--chat-transparency-color), var(--chat-transparency));
    backdrop-filter: blur(var(--chat-background-blur));
    border: solid 1px rgb(var(--accent-color-1));
    border-top: none;
}
.progressBar-3DupbT,
.small-1bZsRQ,
.xsmall-14LPsL,
.progress-3ClF2n {
    border-radius: 10;
}
.scroller-2XLwLg {
    background: rgba(var(--chat-transparency-color), var(--chat-transparency));
    backdrop-filter: blur(var(--chat-background-blur));
}
.header-2EadGG {
    border-bottom-color: var(--line-color);
    background: transparent;
}
#app-mount .rate-1lw2ml {
    color: rgba(var(--muted-font), 0.8);
}
.diskProgress-gLdpSx {
    color: rgb(0, 176, 244);
}
/* Library Settings */
.scroller-1TOeMq {
    background-color: rgba(var(--chat-transparency-color), var(--chat-transparency));
    backdrop-filter: blur(var(--chat-background-blur));
    border: solid 1px var(--line-color);
    border-top: none;
    border-bottom: none;
}
#app-mount .description-30xx7u {
    font-weight: 400;
}
#app-mount .rowBody-uWDd7Y {
    color: rgb(var(--muted-font));
}
#app-mount .installationPath-2PbaRC {
    -webkit-box-shadow: 0 1px 0 0 var(--line-color);
    box-shadow: 0 1px 0 0 var(--line-color);
}