/* Loading Squares */
.wanderingCubesItem-3Us-UG {
    background-color: rgb(var(--accent-color-1));
}
.wanderingCubesItem-3Us-UG:first-child {
    background-color: rgb(var(--accent-color-1));
}
.wanderingCubesItem-3Us-UG:last-child {
    background-color: rgb(var(--accent-color-2));
}
#app-mount .content-s2SEQO ol,
#app-mount .content-s2SEQO p,
#app-mount .content-s2SEQO ul li {
    color: rgb(var(--normal-font));
}
#app-mount .content-s2SEQO ul li:before {
    background-color: rgb(var(--fullwhite-font));
}
/* Loading Dots */
.lookFilled-yCfaCM.colorBrand-I6CyqQ .spinnerItem-3dCJpG {
    background-color: rgb(var(--fullwhite-font));
}
/* Loading Circle */
#app-mount .path-lhsLSV {
    stroke: rgb(var(--accent-color-1));
}
#app-mount .path-lhsLSV.path2-F-M5gP {
    stroke: rgba(var(--accent-color-1), 0.7);
}
#app-mount .path-lhsLSV.path3-3tVOpU {
    stroke: rgba(var(--accent-color-1), 0.4);
}
/* Connecting screen */
.container-2RRFHK {
    background: linear-gradient(135deg, rgb(var(--dark-background-color)), rgb(var(--darker-background-color)));
}
.platform-win .container-2RRFHK {
    top: 0;
    padding-top: 0;
    border: solid 1px rgb(var(--accent-color-1));
}
.platform-win .bg-1QIAus {
    top: 0;
}
/*.withFrame-2dL45i, .typeWindows-2-g3UY {
    background: transparent;
}*/
.tipTitle-3FYEQp {
    color: rgb(var(--accent-color-1));
    font-size: 0;
    font-weight: 900;
    text-transform: none;
}
.tipTitle-3FYEQp:after {
    color: rgb(var(--accent-color-1));
    font-size: 17px;
    font-weight: 900;
    text-transform: none;
    content: "Did you know?";
}
.tip-1AwED_ {
    color: rgb(var(--fullwhite-font));
    font-size: 0;
    font-weight: 400;
}
.tip-1AwED_:after {
    color: rgb(var(--fullwhite-font));
    font-size: 14px;
    font-weight: 400;
    content: "In Appearance Settings, set Group Spacing to 0 or 4px to hide lines between messages.";
}
.tip-1AwED_ .keybind-2rkdVo {
    display: none;
}