:root{
    --cp-size: 4px;
}
/* Memberlist */
.mulitplePlaceholderUsername-2T3DCI,
.placeholderAvatar-1qAcRZ,
.placeholderUsername-3iQi_D,
.memberGroupsPlaceholder-9tqX9V {
    background: linear-gradient(135deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));
    border-radius: 2px;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
}
.members-3WRCEx .layout-1qmrhw {
    border-radius: 10;
    height: 45px;
    padding: 0 6px;
    margin-top: 1px;
}
.members-3WRCEx .clickable-28SzVr:hover .layout-1qmrhw {
    background-color: rgba(var(--dark-background-color), var(--other-transparency));
    cursor: default;
}
.members-3WRCEx .clickable-28SzVr:hover span.roleColor-nA7BqX::after {
    border-color: currentColor;
}
.container-1oeRFJ {
    padding: 0;
}
.member-2gU6Ar.selected-1-Z6gm .layout-1qmrhw {
    background-color: rgba(var(--darker-background-color), var(--other-highlighted-transparency));
}
.member-2gU6Ar.selected-1-Z6gm span.roleColor-nA7BqX::after {
    border-color: currentColor;
}
.layout-1qmrhw .content-1U25dZ * {
    z-index: 1;
}
span.roleColor-nA7BqX::after {
    content: "";
    background: transparent;
    border: solid 1px transparent;
    width: calc(100% - 1px);
    height: 100%;
    position: absolute;
    opacity: 1;
    left: 0;
    top: 0;
    z-index: 0;
}



/* Bot tags */
.botTagRegular-kpctgU {
    background: linear-gradient(135deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));
    color: rgb(var(--font-in-accent));
}
.botTagRegular-kpctgU[style*="background"] {
    background: currentColor;
    color: rgb(255, 255, 255)
}
#app-mount .lookFilled-yCfaCM.colorPrimary-2AuQVo {
    color: rgb(var(--font-in-accent));
    background: linear-gradient(135deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));
    border-radius: 2px;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 6px;
}
#app-mount .botTag-7aX5WZ {
    border-radius: 1px;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 0.275rem;
}
.botText-1fD6Qk {
    font-size: 10px;
    font-weight: 600;
}

/* Roles */
.role-2TIOKu,
.role-2mCo-N,
.roleCircle-1EgnFN,
.member-perms .member-perm .perm-circle,
.roleCircle-1ER2zO {
    border-radius: 0 !important;
}
.role-2TIOKu,
.role-2mCo-N {
    padding: 0;
    height: 18px;
}
.roleName-2ZJJYR,
.roleName-3kJr77 {
    line-height: 16px;
    /* padding-left: 4px; */
}
.roleCircle-1EgnFN,
.member-perms .member-perm .perm-circle,
.roleCircle-1ER2zO {
    margin-left: 3px;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 20%;
}
/* New Roles Settings */
.titleContainer-3fPic2 {
    background-color: transparent;
    padding-top: 0;
    padding-bottom: 0;
}
.titleContainer-3fPic2 .title-JU0E7C .titleText-3LapIU {
    display: none;
}
.titleContainer-3fPic2 .title-JU0E7C {
    position: absolute;
    left: -24px;
    top: 8px;
    border: solid 1px var(--line-color-1);
}
.titleContainer-3fPic2 .title-JU0E7C:hover {
    border-color: var(--line-color-2);
}
.header-JUTO-g {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: solid 1px var(--line-color);
}
.stickyHeader-1Sunlx {
    position: relative;
}
.scroller-39BnzZ .previewContainer-1xQAsw {
    border-radius: 10;
}
.scroller-39BnzZ .previewContainer-1xQAsw .theme-light {
    display: none;
}
.scroller-39BnzZ .previewContainer-1xQAsw .theme-dark {
    background: rgba(var(--chat-transparency-color), var(--chat-transparency));
    filter: blur(var(--chat-background-blur));
}
.scroller-39BnzZ .previewContainer-1xQAsw .messageContainer-3a6gLR {
    padding-top: 8px;
    padding-bottom: 12px;
}
.scroller-39BnzZ .previewContainer-1xQAsw .groupStart-3Mlgv1 {
    border-top: none;
}
/* View As Roles Notice */
.notice-1tZwqv {
    background-color: rgba(var(--header-transparency-color, 8, 5, 14), var(--header-transparency, 1)) !important;
    backdrop-filter: blur(var(--header-background-blur)) !important;
    color: rgb(var(--normal-hover-font));
    border-radius: 10;
    border: solid 1px var(--line-color);
    border-top: none;
    border-left: none;
}
/* View As Roles Tooltip */
.subscribeTooltipWrapper-32-Ce8 {
    background-color: rgb(var(--dark-background-color));
    border-radius: 10;
    border: solid 1px rgb(var(--accent-color-1));
}
.full-motion.app-focused .subscribeTooltipWrapper-32-Ce8 {
    animation: accent-blinking 450ms infinite;
}
.subscribeTooltipWrapper-32-Ce8:after {
    display: none;
}
.lookInverted-2mDUMi.colorBrand-I6CyqQ {
    color: rgb(var(--fullwhite-font));
    background-color: rgb(var(--darker-background-color));
    border-radius: 10;
    border: solid 1px rgb(var(--accent-color-1));
}
.lookInverted-2mDUMi.colorBrand-I6CyqQ:hover {
    border-color: rgb(var(--accent-color-2));
    background-color: rgb(var(--dark-background-color));
}