
/* About to start a stream/screen share */
.selectorButtonSelected-3Z0WNU {
    background-color: rgb(var(--accent-color-1));
}
.selectorButton-3sW6Qm:not(.selectorButtonPremiumRequired-2pGGEj):hover {
    background-color: rgb(var(--accent-color-2));
}
.selectorTextSelected-6vUbIH,
.selectorButton-3sW6Qm:not(.selectorButtonPremiumRequired-2pGGEj):hover .selectorText-2PqieX {
    color: rgb(var(--font-in-accent));
}
.card-1SdQ2- {
    border-radius: 10;
    border-color: rgb(var(--accent-color-1));
}
