/*~~ 18. Update notice ~~*/
#app-mount > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div > div.base-2jDfDU:before {
    display: var(--version008_oggt, block) !important;
    box-shadow: none !important;
    background-color: rgba(var(--header-transparency-color, 8, 5, 14), var(--header-transparency, 1)) !important;
    backdrop-filter: blur(var(--header-background-blur)) !important;
    color: rgb(var(--fullwhite-font, 255, 255, 255)) !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    z-index: 999 !important;
    border: solid 1px var(--line-color) !important;
    border-bottom: none !important;
}
.full-motion.app-focused #app-mount > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div > div.base-2jDfDU:before {
    animation: notice-anim 450ms infinite !important;
}
.platform-win #app-mount > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div > div.base-2jDfDU:before {
    border-top-left-radius: 0 !important;
}
.platform-web #app-mount > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div > div.base-2jDfDU:before {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: solid 1px var(--line-color) !important;
}