/* Voice controls */
.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx,
.button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx {
    background-color: rgba(var(--darker-background-color), var(--other-transparency));
    color: rgb(var(--gx-green));
    border-color: rgb(var(--gx-green));
}
.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx:hover,
.button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx:hover {
    background-color: rgba(var(--darker-background-color), var(--other-highlighted-transparency));
    color: rgb(var(--gx-green-2));
    border-color: rgb(var(--gx-green-2));
}
/* Adds border and background around the Stream/Mute/Call buttons */
.wrapper-3t3Yqv{
    border: 1px solid rgb(var(--accent-color-1));
    border-radius: 200px;
    background: rgb(var(--darker-background-color));
}
.colorable-3rVGna.red-3T8maV{
    padding: 10px;
}