.widget-szj0pM {
    border-radius: 10;
    border: solid 1px rgb(var(--accent-color-1));
    color: rgb(var(--fullwhite-font));
}
.widgetHeader-2Hz_Ln {
    background: var(--background);
    background-size: cover;
    background-position: center;
    border-bottom: solid 1px rgb(var(--accent-color-1));
}
.widgetBody-1YvOmj {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-bottom: solid 1px rgb(var(--accent-color-1));
    background-color: rgb(var(--darker-background-color));
}
.widgetMember-s-bqOZ .widgetMemberName-1s0T0o {
    color: rgb(var(--normal-font));
    line-height: 16px;
}
.widgetMember-s-bqOZ .widgetMemberGame-1VaBoY {
    color: rgb(var(--muted-font));
    line-height: 16px;
}
.widgetMembersOnline-314YF1 {
    color: rgb(var(--accent-color-1));
    font-weight: 700;
    text-transform: none;
}
.widgetBtnConnect-2fvtGa {
    border: solid 1px rgb(var(--accent-color-1));
    border-radius: 10;
    background-color: rgb(var(--darker-background-color));
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: 200ms;
    transition-property: background, border;
}
.widgetBtnConnect-2fvtGa:hover {
    opacity: 1;
    background-color: rgb(var(--dark-background-color));
    border-color: rgb(var(--accent-color-2));
    transition: 200ms;
    transition-property: background, border;
}
.widget-szj0pM .widgetFooter-1l6LHW {
    box-shadow: none;
    -webkit-box-shadow: none;
    background-color: rgb(var(--dark-background-color));
    color: rgb(var(--text-muted));
}
.widgetFooter-1l6LHW .widgetFooterInfo-3sJWsY {
    opacity: 1;
}