.chatContent-3KubbW,
.scroller-3KyaqJ {
    border-left: solid 1px var(--line-color);
    border-right: solid 1px var(--line-color);
    border-bottom: solid 1px var(--line-color);
}
.platform-web .chatContent-3KubbW,
.platform-web .scroller-3KyaqJ {
    border-right: none;
    border-bottom: none;
}
.searchResultsWrap-5RVOkx {
    border-right: solid 1px var(--line-color);
}
.platform-web .searchResultsWrap-5RVOkx {
    border-right: none;
    border-left: solid 1px var(--line-color);
}
.peopleColumn-1wMU14,
.nowPlayingColumn-1eCBCN,
.nowPlayingSidebar-2OFn0o,
.scroller-2XLwLg,
.stageSection-3mAD8V {
    border-left: solid 1px var(--line-color);
}
.nowPlayingSidebar-2OFn0o {
    border-right: solid 1px var(--line-color);
}
.platform-web .nowPlayingSidebar-2OFn0o {
    border-right: none;
}
.tabBody-2dgbAs,
.scroller-2XLwLg,
.pageContent-1xgXch {
    border-right: solid 1px var(--line-color);
    border-bottom: solid 1px var(--line-color);
}
.platform-web .tabBody-2dgbAs,
.platform-web .pageContent-1xgXch {
    border-right: none;
    border-bottom: none;
}
.content-3_h0XI {
    border-left: solid 1px var(--line-color);
}
.root-22AK9z {
    border-left: solid 1px var(--line-color);
}
.root-22AK9z .videoGridWrapper-2WpXPj {
    border-left: solid 1px var(--line-color);
    border-bottom: solid 1px var(--line-color);
    border-right: solid 1px var(--line-color);
}
.noChannel-Z1DQK7,
.noChannel-1GDIAZ {
    border: solid 1px var(--line-color);
}
.platform-web .noChannel-Z1DQK7,
.platform-web .noChannel-1GDIAZ {
    border-right: none;
    border-bottom: none;
}
.warningIcon-3Mtahk {
    color: rgb(var(--gx-yellow));
}
.chatContent-3KubbW,
.searchResultsWrap-5RVOkx {
    border-bottom: solid 1px var(--line-color);
}
.platform-web .chatContent-3KubbW,
.platform-web .searchResultsWrap-5RVOkx {
    border-bottom: none;
}