/* Memberlist Borders */
.content-2a4AW9{
    height: calc(100vh - 112px)!important;
}
.members-3WRCEx {
    border-right: solid 1px var(--line-color);
    border-bottom: solid 1px var(--line-color);
}
.platform-web .members-3WRCEx {
    border-right: none;
    border-bottom: none;
    border-left: solid 1px var(--line-color);
}
.wrapper-2h7HDT {
    border: solid 1px var(--line-color);
    border-radius: 10;
    margin: 0;
    width: calc(var(--mSize, 240px) - 2px);
    border-top: none;
}
.platform-web .wrapper-2h7HDT {
    border-right: none;
    width: calc(var(--mSize, 240px) - 1px);
}