/* Panels */
/*.panels-3wFtMD {
    border-left: solid 1px var(--line-color);
}*/
.container-YkUktl {
    border-top: solid 1px var(--line-color);
}
.container-6sXIoE {
    border-bottom: none;
    border-top: solid 1px var(--line-color);
}
.container-1zzFcN {
    border-top: solid 1px var(--line-color);
    border-bottom: none;
}
.panel-2ZFCRb {
    border-top: solid 1px var(--line-color);
}
.activityPanel-9icbyU {
    border-bottom: none;
}