/* Servername and Banner */
.header-2o-2hj,
.header-3OsQeK {
    margin-bottom: -1px;
    height: 47px;
}
.platform-web .header-2o-2hj,
.platform-web .header-3OsQeK {
    height: 48px;
}
.animatedContainer-1pJv5C,
.animatedContainer-2laTjx {
    background: transparent;
    border-bottom: solid 1px var(--line-color);
    z-index: 2;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.bannerVisible-14J9lQ .name-3YKhmS,
.bannerVisible-14J9lQ .button-2BMPJJ,
.bannerVisible-Vkyg1I .name-3Uvkvr,
.bannerVisible-Vkyg1I .button-2BMPJJ {
    color: rgb(var(--fullwhite-font));
}