/* Threads */
.threadSidebar-1o3BTy .container-2Rl01u,
.threadSidebar-1o3BTy .container-ZMc96U.themed-Hp1KC_ {
    background-color: rgb(var(--darker-background-color));
}
.threadSidebar-1o3BTy {
    -webkit-filter: none;
    filter: none;
    border-radius: 10;
    background-image: linear-gradient(135deg, rgb(var(--dark-background-color)), rgb(var(--darker-background-color)));
    margin-left: 0;
}
.cozy-VmLDNB.hasThread-3h-KJV:after {
    border-bottom-left-radius: 0;
}
.container-3i3IzO {
    background-color: rgba(var(--darker-background-color), var(--other-transparency));
    border-radius: 10;
    border: solid 1px var(--line-color-1);
}
.container-3i3IzO:hover {
    background-color: rgba(var(--dark-background-color), var(--other-highlighted-transparency));
    border-color: var(--line-color-2);
}
.browser-mnQ1T7 {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 10;
    border: solid 1px rgb(var(--accent-color-1));
}
.container-18GwIk {
    background-color: rgb(var(--dark-background-color));
    border-radius: 10;
}
.header-3_zmOb {
    background-color: rgb(var(--darker-background-color));
    border-bottom: solid 1px rgb(var(--accent-color-1));
}
.container-2rzKKA {
    background-color: rgb(var(--darker-background-color));
    border: 1px solid rgb(var(--accent-color-1));
    border-radius: 10;
}
.container-2rzKKA:hover {
    background-color: rgb(var(--dark-background-color));
    border-color: rgb(var(--accent-color-2));
}
.full-motion.app-focused .container-2rzKKA:hover {
    animation: accent-blinking 450ms infinite;
}
.channelTextAreaInnerFocused-3oQcB2 {
    border: none;
}
.form-Ti9oXE {
    border: solid 1px var(--line-color);
    border-top: none;
    border-left: none;
}
.platform-web .form-Ti9oXE {
    border-right: none;
    border-bottom: none;
    border-left: solid 1px var(--line-color);
}
.activeThreadsList-c8qlqZ {
    background: none;
}
.modal-ZdazA8 {
    background-color: rgb(var(--dark-background-color)) !important;
    border-radius: 8px;
    min-height: 400px;
    height: 60vh;
    width: 600px;
}
.chat-2ZfjoI.threadSidebarOpen-1LSXvU .uploadArea-2uvx-B,
.chat-2ZfjoI.threadSidebarOpen-1LSXvU {
    right: 0;
    border-radius: 10;
}
.threadSidebar-1o3BTy .container-ZMc96U {
    border-left: none;
}
.platform-web .threadSidebar-1o3BTy .container-ZMc96U {
    border-left: solid 1px var(--line-color);
}