/* Contextmenus Search */
.container-3AL15u {
    border-radius: 10;
    margin: 0 2px;
}
/* Contextmenus Emojis */
.button-1zW0-r {
    border-radius: 10;
    border: solid 1px transparent;
    margin-right: 2px;
}
.button-1zW0-r:hover {
    border-color: rgb(var(--accent-color-2));
}
.full-motion.app-focused .button-1zW0-r:hover {
    animation: accent-blinking 450ms infinite;
}