/* Message editing */
#app-mount .operations-3q3u6E {
    color: rgb(var(--muted-font));
}
.operations-3q3u6E > a {
    color: rgb(var(--accent-color-1));
}

/* Local bot and replying */
.localBot-GrCgVt:before,
.replying-eZ7p5z:before,
.ephemeral-2nDdnn:before {
    background-color: rgb(var(--accent-color-1));
}
.localBot-GrCgVt,
.replying-eZ7p5z,
.ephemeral-2nDdnn {
    background-color: rgba(var(--accent-color-1), 0.05);
}
.message-2CShn3.localBot-GrCgVt.selected-2LX7Jy,
.message-2CShn3.replying-eZ7p5z.selected-2LX7Jy,
.mouse-mode.full-motion .localBot-GrCgVt:hover,
.mouse-mode.full-motion .replying-eZ7p5z:hover,
.message-2CShn3.ephemeral-2nDdnn.selected-2LX7Jy,
.mouse-mode.full-motion .ephemeral-2nDdnn:hover {
    background-color: rgba(var(--accent-color-1), 0.075);
}
.ephemeralMessage-11q8XZ a,
.colorLink-2apWfY.mentionButton-3C5YMI {
    color: rgb(var(--accent-color-1));
}
/* Pinned messages */
.messagesPopoutWrap-3zryHW {
    border-radius: 10;
    border: solid 1px rgb(var(--accent-color-1));
    background-color: rgb(var(--dark-background-color));
}
.header-1w9Q93 {
    border-bottom: solid 1px rgb(var(--accent-color-1));
    background-color: rgb(var(--darker-background-color));
    margin-bottom: -1px;
    z-index: 11;
}
.messageGroupWrapper-1jf_7C {
    border: solid 1px rgb(var(--accent-color-1));
    border-radius: 10;
    background-color: rgb(var(--darker-background-color));
}
.jumpButton-1ZwI_j {
    border: solid 1px rgb(var(--accent-color-1));
    border-radius: 10;
}
.footer-5ji8u1 {
    border-top: solid 1px rgb(var(--accent-color-1));
    background-color: rgb(var(--darker-background-color));
}
/* Slowmode cooldown */
#app-mount .base-3bcbY3 .cooldownWrapper-2k1jHK {
    color: rgb(var(--normal-font)) !important;
    font-weight: 400 !important;
}
/* Loading messages */
.wrapper-15CKyy,
.wrapper-3HVHpV {
    background: transparent;
}
.wrapper-15CKyy[style*="margin-top"] {
    border-top: solid 1px rgba(var(--accent-color-1), calc(var(--lines-transparency) * 0.3));
    margin-top: calc(1rem - 1px) !important;
}
.attachment-16cAbS,
.avatar-l9Txm5,
.blob-1uHjdp {
    opacity: 0.5 !important;
    background: linear-gradient(135deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));
    border-radius: 2px;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 4px;
}
/* New messages */
.newMessagesBar-mujexs,
.newMessagesBar-1hF-9G {
    background: linear-gradient(135deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));
    top: 3px;
}
.barBase-3xxDXu {
    border-radius: 2px !important;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 6px;
}
.barBase-3xxDXu * {
    color: rgb(var(--font-in-accent));
}
.messagesErrorBar-1IQ1rH {
    background-color: rgb(var(--gx-red));
}
.messagesErrorBar-1IQ1rH.barBase-3xxDXu * {
    color: rgb(var(--fullwhite-font));
}
.jumpToPresentBar-1cEnH0 {
    bottom: 8px;
    padding-bottom: 0;
}
.jumpToPresentBar-1cEnH0 .spinnerItem-_2a-1N {
    background-color: rgb(var(--font-in-accent));
}
.hasDivider-20M1le {
    border: none;
}
/* Messages */
strong {
    font-weight: 700;
}
.markup-eYLPri strong {
    font-weight: 700;
    text-shadow: var(--shadow-currentcolor);
}
#app-mount .messageContent-2t3eCI {
    font-weight: 500;
    color: rgb(var(--normal-font));
}
.full-motion.app-focused .message-2CShn3 {
    transition: 150ms background-color cubic-bezier(0, 0, 0.35, 1);
}
#app-mount .isFailed-2b8sCy,
#app-mount .isFailed-2b8sCy .hljs,
#app-mount .isFailed-2b8sCy a,
#app-mount .isFailed-2b8sCy code.inline {
    color: rgb(var(--gx-red));
}
.groupStart-3Mlgv1 {
    border-top: solid 1px var(--line-color);
}
.groupStart-3Mlgv1.backgroundFlash-1X5jVs {
    border-top: none;
}
.backgroundFlash-1X5jVs {
    background: rgba(var(--accent-color-1), 0.2) !important;
}

.compact-2Nkcau.wrapper-30-Nkg,
.cozy-VmLDNB.wrapper-30-Nkg {
    padding-top: 0;
    padding-bottom: 1px;
    min-height: unset;
}
/*.content-vSHmMD {
    font-size: 0.85rem;
}*/
/* New date/New day */
.content-3spvdd {
    background: linear-gradient(135deg, rgba(var(--dark-background-color), var(--other-highlighted-transparency)), rgba(var(--darker-background-color), var(--other-highlighted-transparency)));
    border: solid 1px rgba(var(--accent-color-2), var(--other-transparency));
    border-radius: 10;
    color: rgb(var(--normal-font));
    font-weight: 500;
    display: block;
    width: 100%;
    margin: 0;
    text-align: center;
}
.content-3spvdd:hover {
    background: rgb(var(--dark-background-color));
    color: rgb(var(--fullwhite-font));
}
.group-spacing-0 .groupStart-3Mlgv1,
.group-spacing-4 .groupStart-3Mlgv1 {
    border-top: none;
}
.divider-IqmEqJ.hasContent-1y12-u {
    border: none;
}