/* Unreads */
.unreadPill-3nEWYM {
    background: linear-gradient(270deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));
    color: rgb(var(--font-in-accent));
}
.unreadPillCap-2-iI4h > path {
    fill: rgb(var(--accent-color-2));
    color: rgb(var(--accent-color-2));
}
.isUnread-3Lojb-,
.isUnread-3Lojb- .content-3spvdd {
    color: rgb(var(--accent-color-2));
}
.isUnread-3Lojb- {
    border-color: rgb(var(--accent-color-2));
}
.divider-IqmEqJ:not(.hasContent-1y12-u) {
    margin-top: -1px !important;
    margin-bottom: 0 !important;
}
/* UnreadsBars */
.bar-2eAyLE {
    background-color: rgba(var(--darker-background-color), 0.95);
    border-radius: 1px;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 6px;
}
.bar-2eAyLE:hover {
    background-color: rgba(var(--dark-background-color), 1);
}
.unreadBar-3YD_k9 .text-2GsXbW,
.unreadBar-elBRZx .text-2GsXbW {
    font-style: italic;
    color: rgb(var(--fullwhite-font));
}