/* Add role NEW popout */
.container-2O1UgZ,
.container-3LUQwT {
    border-radius: 10;
    padding: 0;
    width: 232px;
    max-width: unset;
    border: solid 1px rgb(var(--accent-color-2));
    background: rgb(var(--dark-background-color));
}
.full-motion.app-focused .container-2O1UgZ,
.full-motion.app-focused .container-3LUQwT {
    animation: accent-blinking 450ms infinite;
}
.container-2oNtJn {
    margin: 3px;
    border-radius: 10;
    border: solid 1px rgb(var(--dark-background-color));
    transition: border-color 200ms cubic-bezier(0, 0, 0.35, 1);
}
.container-2oNtJn:hover {
    border-color: rgb(var(--accent-color-2));
    transition: border-color 200ms cubic-bezier(0, 0, 0.35, 1);
}
.container-2oNtJn:focus-within {
    border-color: rgb(var(--accent-color-1));
    transition: border-color 200ms cubic-bezier(0, 0, 0.35, 1);
}
.list-3cyRKU {
    padding: 0;
    margin: 0;
}
.item-1BCeuB {
    border-radius: 10;
    border: solid 1px #0000;
    margin-bottom: -1px;
    transition: 200ms cubic-bezier(0, 0, 0.35, 1);
    transition-property: border-color, background-color;
}
.focused-qp-W9B,
.item-1BCeuB:hover {
    background-color: rgb(var(--darker-background-color));
    border-color: rgb(var(--accent-color-2));
    transition: 200ms cubic-bezier(0, 0, 0.35, 1);
    transition-property: border-color, background-color;
}