/* Add role popout */
#app-mount .container-1S70rv .sectionTag-28mLyE {
    background-color: rgb(var(--dark-background-color));
    color: rgb(var(--muted-font));
}
.positionTop-3SXWNj .sectionTag-28mLyE {
    border-radius: 10;
    overflow: scroll;
}
#app-mount .header-3i_Csh {
    background-color: rgb(var(--darker-background-color));
}
#app-mount .autocompleteArrow-jJE9TQ {
    display: none;
}
#app-mount .autocompleteArrow-jJE9TQ,
#app-mount .autocompleteShadow-2nfsSy {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.autocompleteShadow-2nfsSy,
.container-1S70rv {
    border-radius: 10;
}
.container-1S70rv {
    border: solid 1px rgb(var(--accent-color-2));
}
.full-motion.app-focused .container-1S70rv {
    animation: accent-blinking 450ms infinite;
}
.row-1Ib2uD {
    font-weight: 600;
}
.row-1Ib2uD.selected-1IWCoj .rowInner-3uonq8 {
    background-color: var(--background-modifier-selected);
    border-color: rgb(var(--accent-color-2));
}
.full-motion.app-focused .row-1Ib2uD.selected-1IWCoj .rowInner-3uonq8 {
    animation: accent-blinking 450ms infinite;
}
.rowInner-3uonq8 {
    border-radius: 10;
    border: solid 1px transparent;
    padding: 10px;
}