/* UserProfileBanner */
.profileBanner-j34RzR[style*="background-color"] {
    background-image: linear-gradient(135deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)))
}
/* About Me Timestamps */
.timestamp-6-ptG3 {
    background-color: rgba(var(--accent-color-1), 0.3);
    border-radius: 10;
    padding: 0;
}