/* Tooltips */
#app-mount .tooltip-14MtrL,
#app-mount .tooltipBlack-vMYxvw {
    border: solid 1px rgb(var(--accent-color-1));
    background: linear-gradient(135deg, rgb(var(--darker-background-color)), rgb(var(--dark-background-color)));
    border-radius: 10;
    color: rgb(var(--fullwhite-font));
}
.tooltipPointer-3L49xb {
    display: none;
}
.tooltipRight-2TSb42 {
    margin-top: 32px;
    margin-bottom: 32px;
}
.guildNameText-74xXQn {
    color: rgb(var(--fullwhite-font));
}

/* New user Wumpus tooltip */
#app-mount .wumpusTooltip-65YlMT {
    background: rgb(var(--dark-background-color));
    color: rgb(var(--normal-font));
    border-radius: 10;
    border: solid 1px rgb(var(--accent-color-1));
}
.full-motion.app-focused #app-mount .wumpusTooltip-65YlMT {
    animation: accent-blinking 450ms infinite;
}
#app-mount .wumpusTooltip-65YlMT:after {
    display: none;
}