/* Serverlist */
.item-2LIpTv {
    border-radius: 0 !important;
    background: linear-gradient(135deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));
    width: 9px;
}
.item-2LIpTv:focus {
    background: transparent;
}
.circleIconButton-1VxDrg,
.circleIconButton-3lUBQk {
    color: rgb(var(--accent-color-2));
    background-color: transparent;
    transition: 0ms;
    cursor: default;
}
.circleIconButton-1VxDrg.selected-2r1Hvo,
.circleIconButton-3lUBQk.selected-2tb4pB {
    color: rgb(var(--accent-color-2));
    background-color: transparent;
    transition: 0ms;
}
.circleIconButton-1VxDrg svg,
.circleIconButton-3lUBQk svg {
    transition: 300ms ease-out;
    transition-property: width, height;
}
.circleIconButton-1VxDrg:hover svg,
.circleIconButton-3lUBQk:hover svg {
    width: 30px !important;
    height: 30px !important;
}
.circleIconButton-1VxDrg:active svg,
.circleIconButton-3lUBQk:active svg {
    width: 16px !important;
    height: 16px !important;
    transition: 100ms ease-out;
}
g[class*="focusFill"],
g[class*="focusStroke"] {
    display: none;
}