/* Server Boost Perks */
#app-mount .headerLogo--hLLAk {
    color: rgb(var(--fullwhite-font));
}
.ctaBar-2UsjF2 {
    border: solid 1px rgb(var(--accent-color-1));
    border-radius: 10;
}
#app-mount .lookFilled-yCfaCM.colorPrimary-2AuQVo .giftIcon-ZxlWk5 {
    color: rgb(var(--font-in-accent));
}
.tierHeader---JJFb {
    border-radius: 10;
}
#app-mount .barBackground-unEPDT {
    background-color: rgb(var(--dark-background-color));
}
#app-mount .barSecondary-VouwoY {
    background-color: rgb(var(--accent-color-2));
}
#app-mount .tierMarkerBackground-G8FoN4 {
    background-color: rgb(var(--dark-background-color));
}
#app-mount .perksModal-fSYqOq {
    background-color: rgb(var(--darker-background-color));
}
#app-mount .tier-12tKuZ {
    border: solid 1px rgb(var(--accent-color-1));
    border-radius: 10;
}
#app-mount .tierHeaderLocked-1s2JJz {
    background-color: rgb(var(--darker-background-color));
    color: rgb(var(--muted-font));
}
#app-mount .tierUnlocked-25K6Kv {
    color: rgb(var(--accent-color-2));
    background: linear-gradient(135deg, rgb(var(--dark-background-color)), rgb(var(--darker-background-color)));
    border-radius: 10;
    border: solid 1px rgb(var(--accent-color-1));
}
#app-mount .tierBody-16Chc9 {
    background-color: rgb(var(--dark-background-color));
    border: none;
    border-top: solid 1px rgb(var(--accent-color-1));
    border-radius: 10;
}
#app-mount .perk-2WeBWW {
    background-color: rgb(var(--dark-background-color));
    border: solid 1px rgb(var(--accent-color-1));
    border-radius: 10;
}
.header-1zd7se {
    background-color: rgb(var(--darker-background-color));
    border-radius: 10;
    border-bottom: solid 1px rgb(var(--accent-color-1));
}
/* Server Boost billing */
.guildSubscriptionSlots-JPXXvN {
    border-top: solid 1px rgb(var(--accent-color-1));
}
.guild-Hq0WWA {
    border-radius: 10;
    border: solid 1px rgb(var(--accent-color-1));
}
/* Shadow below top bar */
.content-1jQy2l:before {
    box-shadow: none;
    -webkit-box-shadow: none;
    display: none;
}
.searchBar-3TnChZ,
.header-3OsQeK {
    box-shadow: none;
    -webkit-box-shadow: none;
}