/* Join Server */
.container-x8Y1ix {
    border-radius: 10;
    background: rgb(var(--darker-background-color));
    border: solid 1px rgb(var(--accent-color-1));
}
.container-x8Y1ix:hover {
    background: rgb(var(--dark-background-color));
    border: solid 1px rgb(var(--accent-color-2));
}
.colorHeaderSecondary-g5teka {
    color: rgb(var(--normal-font));
}
.colorStandard-21JIj7:not(.updateBadgeText-hgPfG9, .dateText-hOosVm, .headerText-US5tOZ) {
    color: rgb(var(--normal-font));
}
.colorHeaderPrimary-jN_yGr {
    color: rgb(var(--fullwhite-font));
}
.close-1mLglB path {
    fill: rgb(var(--normal-font));
}
.input-2g-os5 {
    color: rgb(var(--normal-font));
}
.sampleLink-5BWNy9 {
    color: var(--text-link);
}

/* Channel Start (Welcome to #…) */
.emptyChannelIcon-1YdEz2 {
    background-image: none !important;
}
.emptyChannelIcon-1YdEz2:before {
    font-size: 60px;
    content: "#";
    color: rgb(var(--font-in-accent));
    position: absolute;
    left: 33px;
    line-height: 70px;
    font-family: var(--cbcf);
}

/* Server Welcomer Options */
.optionContainer-yOpaLq {
    border-radius: 10;
    border: solid 1px rgb(var(--accent-color-2));
}
.full-motion.app-focused .optionContainer-yOpaLq {
    animation: both-blinking 450ms infinite;
}
/* Server Separator */
.guildSeparator-33mFX6 {
    height: 1px;
    width: calc(100% - 14px);
    border-radius: 10;
    background-color: var(--line-color);
}
/* Shadow below top bar */
.content-1jQy2l:before {
    box-shadow: none;
    -webkit-box-shadow: none;
    display: none;
}
.searchBar-3TnChZ,
.header-3OsQeK {
    box-shadow: none;
    -webkit-box-shadow: none;
}