/* Permissions (new) */
.group-LWHoGI {
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 6px;
}
.allow-1h61-Z {
    border-radius: 10;
    color: rgb(var(--gx-green));
}
.allow-1h61-Z.selected-3jieYB {
    background-color: rgb(var(--gx-green));
}
.passthrough--fbdFR {
    color: rgb(var(--gx-yellow));
}
.passthrough--fbdFR.selected-3jieYB {
    background-color: rgb(var(--gx-yellow));
    color: rgb(var(--font-in-accent));
}
.deny-1GO6vI {
    border-radius: 10;
    color: rgb(var(--gx-red));
}
.deny-1GO6vI.selected-3jieYB {
    background-color: rgb(var(--gx-red));
}