/* Save warning */
#app-mount .message-3C6JQ1 {
    color: var(--text-normal) !important;
}
#app-mount .elevationHigh-28Pty4 .button-1sjQOW.lookLink-15mFoz .contents-3ca1mk span {
    color: rgb(var(--normal-hover-font)) !important;
}/* Warning tip */
.warning-RBGtx2 {
    border-radius: 10;
    border-color: rgb(var(--gx-yellow));
}
.warning-RBGtx2 .icon-2fP4ae {
    color: rgb(var(--gx-yellow));
}
/* Streamer Mode Enabled */
.streamerModeEnabledBtn-2nlJTD {
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 6px;
    border-radius: 2px;
}