/* Mentioned */
.mentioned-Tre-dv:before {
    background-color: rgb(var(--accent-color-1));
    width: 3px;
    -webkit-box-shadow: 0 0 30px 5px rgb(var(--accent-color-1)) !important;
    box-shadow: 0 0 30px 5px rgb(var(--accent-color-1)) !important;
}
.mentioned-Tre-dv {
    background-color: rgba(var(--accent-color-1), 0.15);
}
.message-2CShn3.mentioned-Tre-dv.selected-2LX7Jy,
.mouse-mode.full-motion .mentioned-Tre-dv:hover {
    background-color: rgba(var(--accent-color-1), 0.3);
}

/* Mentions */
#app-mount .wrapper-1ZcZW- {
    background: rgb(var(--darker-background-color));
    border-radius: 10;
    color: rgb(var(--accent-color-1));
}
#app-mount .wrapper-1ZcZW- {
    transition: none;
}
#app-mount .wrapper-1ZcZW-:hover {
    background: linear-gradient(135deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));
    color: rgb(var(--font-in-accent));
    transition: none;
}
.iconBadge-3Mmg92 {
    background-color: rgb(var(--gx-red));
}