/* Reactions */
.reaction-2A2y9y {
    border: solid 1px rgb(var(--dark-background-color));
    background-color: rgba(var(--darker-background-color), var(--other-transparency));
    border-radius: 10;
}
.reaction-2A2y9y.reactionMe-3I9gFK {
    border: solid 1px rgb(var(--accent-color-1));
    background-color: rgba(var(--dark-background-color), var(--other-highlighted-transparency));
}
.reaction-2A2y9y:not(.reactionMe-3I9gFK):hover {
    border: solid 1px rgb(var(--accent-color-2));
    background-color: rgba(var(--darker-background-color), var(--other-highlighted-transparency));
}
.reactionMe-3I9gFK .reactionCount-1zkLcN,
.reactionMe-3I9gFK:hover .reactionCount-1zkLcN,
.reaction-2A2y9y.reactionMe-3I9gFK .reactionCount-1zkLcN {
    color: rgb(var(--accent-color-1));
}

/* Reactionlist */
#app-mount .container-KM8BU6,
#app-mount .reactors-1VXca7 {
    background-color: rgb(var(--darker-background-color));
}
#app-mount .scroller-2GkvCq {
    background-color: rgb(var(--dark-background-color));
}
#app-mount .reactorDefault-3GSyaV {
    -webkit-box-shadow: inset 0 -1px 0 rgb(var(--accent-color-1));
    box-shadow: inset 0 -1px 0 rgb(var(--accent-color-1));
}
.reactionDefault-1Sjj1f,
.reactionSelected-1aMb2K {
    border-radius: 10;
    border: solid 1px transparent;
}
.reactionSelected-1aMb2K {
    border-color: rgb(var(--accent-color-1));
    background-color: rgb(var(--darker-background-color)) !important;
}