/* Images */
.imageWrapper-oMkQl4 {
    border-radius: 10;
    /* border: solid 1px transparent; */
}
/*.imageWrapper-oMkQl4:hover {
    border: solid 1px rgb(var(--accent-color-1));
}*/
/* Embed Images */
.embedThumbnail-2nTasl img,
.embedThumbnail-2nTasl video {
    border-radius: 10;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 10px;
}
.embedImage-2Ynqkh img,
.embedImage-2Ynqkh video,
.embedVideo-2ixt5A img,
.embedVideo-2ixt5A video {
    border-radius: 10;
}
