/* Music File */
#app-mount .wrapperAudio-1Bzv_Z {
    background-color: rgba(var(--darker-background-color), var(--other-transparency));
    border-color: rgba(var(--dark-background-color), var(--other-transparency));
    border-radius: 10;
}
#app-mount .wrapperAudio-1Bzv_Z:hover {
    background-color: rgba(var(--dark-background-color), var(--other-highlighted-transparency));
    border-color: rgb(var(--accent-color-1));
    border-radius: 10;
}
.audioControls-3fmemK {
    background-color: rgba(var(--dark-background-color), var(--other-highlighted-transparency));
    border: solid 1px var(--line-color-2);
    border-radius: 10;
}
.mediaBarWrapper-33h1oY {
    border: solid 1px rgb(var(--accent-color-2));
}
.full-motion.app-focused .mediaBarWrapper-33h1oY {
    animation: accent-blinking 450ms infinite;
}
.mediaBarGrabber-FvJKJg,
.mediaBarProgress-38I317,
.mediaBarProgress-38I317:after,
.mediaBarProgress-38I317:before {
    background-color: rgb(var(--accent-color-1)) !important;
    border-radius: 10;
    border: none;
}
.mediaBarWrapper-33h1oY,
.mediaBarWrapper-33h1oY:after,
.mediaBarWrapper-33h1oY:before,
.buffer-3eVqKK,
.buffer-3eVqKK:after,
.buffer-3eVqKK:before,
.fakeEdges-18N907:before,
.fakeEdges-18N907:after {
    border-radius: 10;
    border: none;
}
.fakeEdges-18N907:before,
.fakeEdges-18N907:after {
    display: none;
}
.mediaBarInteractionVolume-zGrOSh {
    border-radius: 10;
    background-color: rgb(var(--darker-background-color));
}
.mediaBarPreview-1gUbVy,
.mediaBarPreview-1gUbVy:after,
.mediaBarPreview-1gUbVy:before,
.buffer-3eVqKK, .buffer-3eVqKK:after,
.buffer-3eVqKK:before {
    background-color: rgb(var(--fullwhite-font));
}
.buffer-3eVqKK {
    opacity: 0.15;
}
.durationTimeWrapper-LdSEv8 {
    color: rgb(var(--fullwhite-font));
}
.controlIcon-1grhw_ {
    opacity: 1;
    color: rgb(var(--normal-font));
}
.controlIcon-1grhw_:hover {
    color: rgb(var(--normal-hover-font));
}