/* BDFDB */
.base-3IDx3L[style*="--bdfdb-blurple"] {
    color: rgb(var(--font-in-accent));
}
.toast-g4bfgI {
    border-radius: 0 !important;
    border: solid 1px rgb(var(--accent-color-1));
}
.bar-95Sdw1 {
    height: 5px;
    background: linear-gradient(90deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));
    opacity: 1;
}
.text-28VADE {
    font-weight: 400;
}