/* BD Toasts */
/*.bd-toasts,
.toasts {
    align-items: flex-end !important;
}*/
.bd-toast,
.toast {
    background: rgb(var(--dark-background-color)) !important;
    border-radius: 0 !important;
    border: solid 1px rgb(var(--accent-color-1));
    box-shadow: none;
    font-weight: 500;
    color: rgb(var(--fullwhite-font)) !important;
    /* margin-right: 10px; */
}
#app-mount .bd-addon-list .bda-header,
#app-mount .bd-addon-list .bda-description,
#app-mount .bd-addon-list .bd-description,
#app-mount .bd-addon-list .bd-card-footer {
    color: rgb(var(--normal-font)) !important;
}
#app-mount .bd-addon-list .bd-card-footer
#app-mount .bd-addon-button > svg {
    fill: rgb(var(--normal-font)) !important;
}
#app-mount .bd-addon-list .bd-card-footer,
#app-mount .bd-addon-list .bda-header {
    border-color: rgb(var(--accent-color-1));
}
.bd-addon-list .bd-footer a {
    color: var(--text-link);
}
.bd-toast.icon {
    padding-left: 10px;
}
.toast.toast-danger,
.toast.toast-error,
.bd-toast[style*="237, 66, 69"] {
    background-color: rgb(var(--dark-background-color)) !important;
    color: rgb(var(--gx-red-2)) !important;
    border-color: rgb(var(--gx-red));
}
.bd-toast[style*="250, 166, 26"] {
    background-color: rgb(var(--dark-background-color)) !important;
    color: rgb(var(--gx-yellow-2)) !important;
    border-color: rgb(var(--gx-yellow));
}
.bd-toast[style*="116, 127, 141"] {
    background-color: rgb(var(--dark-background-color)) !important;
    color: rgb(var(--normal-font)) !important;
    border-color: rgb(var(--gx-grey-2));
}
.bd-toast.toast-success,
.bd-toast[style*="59, 165, 92"] {
    background-color: rgb(var(--dark-background-color)) !important;
    color: rgb(var(--gx-green-2)) !important;
    border-color: rgb(var(--gx-green));
}