/* BD Update Notice */
.colorInfo-1kEg3T {
    background-color: rgba(var(--header-transparency-color, 8, 5, 14), var(--header-transparency, 1)) !important;
    backdrop-filter: blur(var(--header-background-blur)) !important;
    color: rgb(var(--fullwhite-font));
    border: solid 1px var(--line-color);
    border-bottom: none;
}
.full-motion.app-focused .colorInfo-1kEg3T {
    animation: background-blinking 450ms infinite !important;
}
.closeButton-30b1gR {
    background-image: none;
    opacity: 1;
}
.closeButton-30b1gR:before {
    font-size: 24px;
    content: "×";
    font-weight: 900;
    color: rgb(var(--muted-font));
}
.closeButton-30b1gR:hover:before {
    color: rgb(var(--normal-hover-font));
}
#outdatedPlugins > span,
#pluginNotice #outdatedPlugins span {
    color: rgb(var(--fullwhite-font));
}
.noticeInfo-3_iTE1 {
    background-color: rgba(var(--header-transparency-color, 8, 5, 14), var(--header-transparency, 1)) !important;
    backdrop-filter: blur(var(--header-background-blur)) !important;
    border: solid 1px var(--line-color-2);
    border-top: none;
    color: rgb(var(--fullwhite-font));
}
.full-motion.app-focused .noticeInfo-3_iTE1 {
    animation: both-blinking-with-transparency 450ms infinite !important;
}