/*~~ 11. Settings ~~*/
.background-3d_SjE {
    border-radius: 10;
    background-color: rgb(var(--dark-background-color));
    padding: 0;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 16px;
}
.fieldList-in8WkP {
    border-radius: 10;
    background-color: transparent;
    padding: 24px;
    margin-top: 0;
}
.profile-1o7I_1 {
    border-bottom: solid 1px var(--line-color);
}
.menu-3A7xxX {
    margin-right: 24px;
}
.menu-3A7xxX svg,
.roleOverflow-1ALvWs svg {
    transform: rotate(90deg);
}
.profile-1o7I_1 .avatarUploaderInner-yEhTv5 {
    border-radius: 10;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 16px;
    background-color: rgb(var(--accent-color-1));
}
.profile-1o7I_1 .avatarUploaderInner-yEhTv5 > * {
    color: rgb(var(--fullwhite-font));
}
.profile-1o7I_1 .avatarUploaderInner-yEhTv5:focus-within,
.profile-1o7I_1 .avatarUploaderInner-yEhTv5:hover {
    -webkit-box-shadow: inset 0 0 120px rgba(var(--dark-background-color), 0.75);
    box-shadow: inset 0 0 120px rgba(var(--dark-background-color), 0.75);
}
.profile-1o7I_1 .avatarUploader-AF-hm- {
    margin-bottom: -2px;
}
#app-mount .profile-1o7I_1 .avatarUploaderIndicator-2G-aIZ {
    border-radius: 10;
    background-image: linear-gradient(135deg, rgb(var(--dark-background-color)), rgb(var(--darker-background-color)));
    background-color: unset;
    opacity: 0.67;
    width: 24px;
    height: 24px;
}
#app-mount .avatarUploaderIndicator-2G-aIZ:after {
    content: "+";
    font-size: 20px;
    color: rgb(var(--fullwhite-font));
    width: 100%;
    height: 100%;
    opacity: 0.9;
}
.accountProfileCard-lbN7n- {
    background-color: rgb(var(--darker-background-color));
    border-radius: 10;
    border: solid 1px var(--line-color);
}
.layer-86YKbF {
    background: transparent;
}
.avatar-3mTjvZ,
.avatarUploaderInner-Oiob_P {
    border: 7px solid rgb(var(--darker-background-color));
    background-color: rgb(var(--darker-background-color));
}
.profileBannerPreview-3_l0Wd {
    background-color: rgb(var(--darker-background-color));
    border-radius: 10;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: solid 1px rgb(var(--accent-color-1));
}
.banner-hcPdsd {
    border-radius: 10;
}
#app-mount #bd-settings-sidebar .ui-tab-bar-item {
    color: rgb(var(--normal-font)) !important;
    font-weight: 400;
}
#app-mount #bd-settings-sidebar .ui-tab-bar-item.selected {
    color: rgb(var(--fullwhite-font)) !important;
}
.item-3XjbnG {
    font-weight: 400;
}
#app-mount #bd-settings-sidebar .ui-tab-bar-header {
    color: rgb(var(--normal-font)) !important;
}
#app-mount #bd-settings-sidebar .ui-tab-bar-item:hover {
    color: rgb(var(--normal-hover-font)) !important;
}
#bd-settings-sidebar .ui-tab-bar-header .bd-icon {
    fill: var(--text-normal);
}
.contentRegion-3HkfJJ {
    background-color: rgba(var(--st-r-scroller-color), var(--st-r-scroller-transparency));
    backdrop-filter: blur(var(--st-r-scroller-bg-blur));
}
.sidebarRegionScroller-FXiQOh {
    background-color: rgba(var(--st-l-scroller-color), var(--st-l-scroller-transparency));
    backdrop-filter: blur(var(--st-l-scroller-bg-blur));
    border-right: solid 1px var(--line-color);
}
.scroller-3_YDR2 {
    background: none;
    border-right: solid 1px var(--line-color);
}
.easyModeContainer-2jU1yo .scroller-3_YDR2 {
    border-left: none;
    border-right: none;
}
.item-2idW98[style*="background"] { /* selected */
    background-color: rgb(var(--accent-color-1)) !important;
    border-color: rgb(var(--fullwhite-font)) !important;
}
.item-2idW98 {
    border-radius: 10;
    background-color: rgba(var(--darker-background-color), var(--other-highlighted-transparency));
    border-color: rgb(var(--accent-color-1));
}
.item-2idW98:hover,
.item-2idW98[aria-checked=true] {
    background-color: rgba(var(--dark-background-color), var(--other-highlighted-transparency));
}
.radioBar-3w9XY- {
    border-radius: 10;
    border: solid 1px rgb(var(--dark-background-color));
}
.radioBar-3w9XY-[style*="--radio-bar-accent-color"] {
    border-color: var(--radio-bar-accent-color);
}
.item-2idW98[aria-checked=true] .radioBar-3w9XY- {
    border-color: var(--line-color);
}
.item-2idW98[aria-checked=true] .radioBar-3w9XY-[style*="--radio-bar-accent-color"] {
    border-color: var(--radio-bar-accent-color);
}
.radioBar-3w9XY- > svg > path {
    fill: rgb(var(--normal-font));
}
.radioIconForeground-2BMavi {
    color: rgb(var(--accent-color-2));
}
#app-mount .checkbox-f1HnKB {
    border-radius: 0 !important;
    border-color: transparent !important;
    border-color: rgb(var(--accent-color-1)) !important;
}
#app-mount .checkbox-f1HnKB.checked-1pZh2h {
    background-color: rgb(var(--accent-color-1)) !important;
    color: rgb(var(--accent-color-1)) !important;
}
#app-mount .checked-1pZh2h[style*="bdfdb-blurple"] {
    background-color: #0000 !important;
}
#app-mount .checked-1pZh2h path {
    fill: rgb(var(--font-in-accent)) !important;
}
#app-mount .ui-tab-bar-item {
    color: rgb(var(--normal-font));
}
.side-2ur1Qk .item-3XjbnG,
#app-mount .ui-tab-bar-item {
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 5px;
    border-radius: 2px;
}
#app-mount .ui-tab-bar-item.selected,
.item-3XjbnG.selected-g-kMVV,
#app-mount .ui-tab-bar-item.selected:hover,
.item-3XjbnG.selected-g-kMVV:hover {
    background-color: rgb(var(--accent-color-1)) !important;
    color: rgb(var(--font-in-accent));
    font-weight: 900;
}
.tabBarItem-1b8RUP.item-3XjbnG {
    font-weight: 500;
}
.tabBarItem-1b8RUP.item-3XjbnG.selected-g-kMVV {
    background: none !important;
    font-weight: 500;
}
.full-motion.app-focused .side-2ur1Qk .item-3XjbnG,
.full-motion.app-focused #app-mount .ui-tab-bar-item {
    transition: 300ms cubic-bezier(0, 0, 0.35, 1) !important;
    transition-property: font-weight, background, color;
}
.top-K_jibn .item-3XjbnG.selected-g-kMVV {
    color: rgb(var(--fullwhite-font));
    border-bottom-color: rgb(var(--accent-color-1)) !important;
}
.descChecked-XkfPsU,
.titleChecked-2wg0pd {
    color: rgb(var(--font-in-accent)) !important;
}
.selected-g-kMVV .roleOverflow-1ALvWs,
.selected-g-kMVV .roleOverflow-1ALvWs:hover {
    color: rgb(var(--font-in-accent));
}
#app-mount .userSettingsAccount-2eMFVR .viewBody-2Qz-jg,
#app-mount .userSettingsSecurity-3C5Hg5 .codeCheckbox-12-XEX {
    color: rgb(var(--normal-font));
}
.userSettingsSecurity-3C5Hg5 .isEnabled-2qCZy8 {
    color: rgb(var(--gx-green));
}
.lockIcon-1FHuKP {
    display: none;
}
.separator-2wx7h6,
#app-mount .ui-tab-bar-separator {
    background-color: var(--line-color) !important;
}
.divider-_0um2u {
    border-top-color: var(--line-color);
}
.accountList-305sx3 {
    border-radius: 10;
    border: solid 1px var(--line-color);
}
.accountBtn-1YkMgV .accountBtnInner-3XK70s {
    border-radius: 3px;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 8px;
    background-color: rgba(var(--dark-background-color), calc(var(--other-transparency) / 1.2));
}
.accountBtn-1YkMgV .accountBtnInner-3XK70s:hover {
    background-color: rgba(var(--dark-background-color), var(--other-highlighted-transparency));
}
.connection-107AGH {
    border: solid 1px var(--line-color);
}
.connection-107AGH,
.connectionHeader-2rV1ze {
    border-radius: 10;
}
.connectionOptionsWrapper-1ipqUo {
    border-top: solid 1px var(--line-color);
}
.cardPrimaryOutline-1ofwVz {
    border: solid 1px var(--line-color);
    border-radius: 10;
    background: var(--background-secondary-alt);
}
.bd-button,
.bd-addon-list .bd-card-footer button,
.bd-button.bd-button-danger {
    background: linear-gradient(135deg, rgba(var(--dark-background-color), var(--other-transparency)), rgba(var(--darker-background-color), var(--other-transparency)));
    border: solid 1px var(--line-color);
    margin-right: 1px;
}
.bd-button:hover,
.bd-addon-list .bd-card-footer button:hover,
.bd-button.bd-button-danger:hover {
    background: linear-gradient(135deg, rgba(var(--dark-background-color), var(--other-highlighted-transparency)), rgba(var(--darker-background-color), var(--other-highlighted-transparency)));
    border-color: var(--line-color-2);
}
.bd-button.bd-button-danger {
    border-color: rgba(255, 34, 34, calc(var(--other-transparency) + 0.3));
}
.bd-button.bd-button-danger:hover {
    border-color: rgba(255, 56, 56, calc(var(--other-highlighted-transparency) + 0.3));
}
.bd-controls > .bd-addon-button:first-of-type,
.bd-controls > .bd-addon-button:last-of-type {
    border-radius: 10;
}
.bd-controls > .bd-addon-button svg {
    fill: rgb(var(--fullwhite-font));
}
.bd-search-wrapper {
    background-color: rgba(var(--dark-background-color), var(--other-transparency));
    border: solid 1px var(--line-color);
    border-radius: 10;
}
.bd-select-transparent .bd-select-options {
    border: solid 1px rgb(var(--accent-color-1));
    border-radius: 10;
}
.full-motion.app-focused .bd-select-transparent .bd-select-options {
    animation: accent-blinking 450ms infinite;
}
.bd-select .bd-select-option {
    background: rgb(var(--dark-background-color));
}
.bd-select .bd-select-option:hover, .bd-select .bd-select-option.selected {
    background: rgb(var(--darker-background-color));
}
.input-2g-os5 {
    border-radius: 0 !important;
    background-color: rgba(var(--darker-background-color), var(--other-transparency));
    border-color: rgba(var(--dark-background-color), var(--other-transparency));
    transition: ease-in-out 200ms;
    transition-property: background, border;
}
.input-2g-os5:hover {
    border-color: rgb(var(--accent-color-2));
}
.input-2g-os5:focus,
.input-2g-os5.focused-1AtTHC {
    border-color: rgb(var(--accent-color-1));
    background-color: rgba(var(--darker-background-color), var(--other-highlighted-transparency));
}
.input-2g-os5.disabled-1MTS26 {
    border-color: rgba(var(--darker-background-color), 0.3);
}
.maxLength-IdVNmX {
    color: rgb(var(--muted-font));
}
#app-mount .bar-1Bhnl9 {
    background: rgb(var(--dark-background-color));
    border-radius: 10;
}
#app-mount .menu-1QACrS .bar-1Bhnl9 {
    min-width: 200px;
    background: rgb(var(--darker-background-color));
}
.barFill-2Bh7CX {
    background: linear-gradient(135deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));
}
#app-mount .microphone-1RDT6R {
    background: none;
}
.grabber-2GQyvM {
    width: 16px;
    height: 16px;
    margin-left: -8px;
    top: 25px;
    border-radius: 10;
    background-color: rgb(var(--dark-background-color));
    border: solid 1px rgb(var(--accent-color-1));
    -webkit-box-shadow: none;
    box-shadow: none;
}
.mini-2qY9iv .grabber-2GQyvM {
    width: 12px;
    height: 12px;
    margin-left: -7px;
    margin-top: 3px;
    border-radius: 10;
    top: 50%;
}
.volumeSlider-sR5g00 .grabber-2GQyvM {
    height: 12px !important;
    width: 12px;
    top: -4px;
    margin-left: -7px;
    margin-top: 3px !important;
    border-radius: 0 !important;
}
#app-mount .userSettingsVoice-1_dzjw .previewOverlay-2reuWf {
    background-color: rgba(var(--dark-background-color), var(--other-transparency));
    border-color: rgb(var(--accent-color-1));
    border-radius: 10;
}
.userSettingsVoice-1_dzjw .media-engine-video {
    background-color: transparent;
}
.bd-select {
    color: var(--text-normal);
    background-color: var(--background-primary);
    border: solid 1px var(--line-color);
    border-radius: 10;
}
.select-1YfRS9 [class*="-singleValue"],
.select-1YfRS9 [class*="-option"] {
    color: rgb(var(--fullwhite-font));
    line-height: 24px;
}
.select-1YfRS9 [class*="-option"]:hover {
    background-color: rgb(var(--dark-background-color));
}
.select-1YfRS9 [class*="-control"],
.select-1YfRS9 [class*="-control"]:hover {
    border-radius: 10;
    border-color: rgb(var(--accent-color-1));
}
.select-1YfRS9 [class*="-control"]:hover {
    border-color: rgb(var(--accent-color-2));
    background-color: rgba(var(--darker-background-color), var(--other-highlighted-transparency));
}
.select-1YfRS9 [class*="-control"] {
    background-color: rgba(var(--darker-background-color), var(--other-transparency));
    border-radius: 10;
    border: solid 1px rgb(var(--accent-color-1));
}
.select-1YfRS9 [class*="-menu"] {
    background-color: rgb(var(--dark-background-color));
    border-color: rgb(var(--accent-color-1));
    box-shadow: none;
    border-radius: 10;
}
.full-motion.app-focused .select-1YfRS9 [class*="-menu"] {
    animation: accent-blinking 450ms infinite;
}
.select-1YfRS9 [class*="-option"] {
    background-color: rgb(var(--darker-background-color));
}
.select-1YfRS9 [class*="-option"]:active {
    background-color: rgb(var(--darker-background-color));
}
.select-1YfRS9 [class*="-placeholder"] {
    color: rgb(var(--muted-font));
}
#app-mount .css-19bqh2r {
    fill: rgb(var(--normal-font));
}
#app-mount .css-19bqh2r:hover {
    fill: rgb(var(--fullwhite-font));
}
#app-mount .divider-3wNib3 {
    border-color: var(--line-color);
}
.wrapper-SdcMKg {
    background-color: rgb(var(--darker-background-color));
}
.sizeSmall-wU2dO-:not(.button-f2h6uQ, .disabledButtonWrapper-2Oz3aY) {
    border-radius: 1.5px;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 7px;
}
.option-1QI4c9 {
    background: rgb(var(--dark-background-color));
    border-radius: 1.5px;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 9px;
}
.option-1QI4c9:hover,
.selected-18Wszc.option-1QI4c9 {
    background: rgb(var(--accent-color-1));
}
#app-mount .addGamePopout-3yePJc {
    background-color: rgb(var(--dark-background-color));
    border-radius: 10;
    border: solid 1px rgb(var(--accent-color-1));
}
#app-mount .elevationBorderHigh-3drnJX {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.wrapper-SdcMKg {
    border-color: rgb(var(--accent-color-1));
    border-radius: 10;
}
.container-2nx-BQ {
	background-color: rgba(var(--dark-background-color), var(--other-transparency)) !important;
	transition: 400ms ease;
	transition-property: background-color, box-shadow;
	box-shadow: 0 0 0 rgb(0, 0, 0);
}
.container-2nx-BQ:hover {
	background-color: rgba(var(--dark-background-color), var(--other-highlighted-transparency)) !important;
	box-shadow: 0 0 8px rgba(var(--accent-color-2), 0.5);
}
.container-2nx-BQ[style="opacity: 1; background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);"] {
	background-color: rgb(var(--accent-color-1)) !important;
	box-shadow: 0 0 4px rgb(var(--accent-color-1));
}
.bd-switch-body {
    --switch-color: rgb(var(--dark-background-color));
    box-shadow: 0 0 0 rgba(var(--dark-background-color), 0);
    transition: 400ms ease;
	transition-property: background-color, box-shadow;
}
.bd-switch:hover .bd-switch-body {
    box-shadow: 0 0 8px rgba(var(--accent-color-2), 0.5);
}
.bd-switch input:checked + .bd-switch-body {
    --switch-color: rgb(var(--accent-color-1));
    box-shadow: 0 0 4px rgb(var(--accent-color-2));
}
.bd-switch input:checked:hover + .bd-switch-body {
    --switch-color: rgb(var(--accent-color-2));
    box-shadow: 0 0 8px rgb(var(--accent-color-2));
}
.bd-switch input:checked + .bd-switch-body .bd-switch-handle {
    fill: rgb(var(--font-in-accent));
}
.container-2nx-BQ[style*="opacity: 1; background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);"]:hover,
.container-2nx-BQ[style*="opacity: 1; background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);"]:active {
	background-color: rgb(var(--accent-color-2)) !important;
	box-shadow: 0 0 8px rgb(var(--accent-color-2));
}
.container-2nx-BQ path[fill] {
	fill: rgb(var(--dark-background-color)) !important;
	transition: fill 400ms ease;
}
.container-2nx-BQ[style*="opacity: 1; background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);"] path[fill] {
	fill: rgb(var(--accent-color-1)) !important;
}
.bd-switch::after {
    background-color: rgb(var(--fullwhite-font));
    transition: transform 150ms ease-in-out, width 100ms ease-in-out, left 100ms ease-in-out, background-color 400ms ease;
}
.bd-switch.bd-switch-checked::after {
    background-color: rgb(var(--font-in-accent));
}
.container-2nx-BQ[style*="opacity: 1; background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);"]:hover path[fill],
.container-2nx-BQ[style*="opacity: 1; background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);"]:active path[fill] {
	fill: rgb(var(--accent-color-2)) !important;
}
.plugin-inputs .control-1fl03- {
    padding-top: 8px;
    padding-right: 8px;
    margin-bottom: -8px;
}
.container-2nx-BQ rect[fill] {
    fill: rgb(var(--fullwhite-font));
    transition: fill 400ms ease;
}
.container-2nx-BQ[style*="opacity: 1; background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);"] rect[fill] {
    fill: rgb(var(--font-in-accent));
}
#app-mount .markValue-2U_-UG {
    color: rgb(var(--muted-font));
}
#app-mount .defaultValue-19SZ-q .markValue-2U_-UG {
    color: rgb(var(--gx-green));
}
#app-mount .markDash-yk2kJ- {
    background: rgb(var(--dark-background-color));
}
#app-mount .defaultValue-19SZ-q .markDash-yk2kJ- {
    background: rgb(var(--gx-green));
}
.bd-button {
    border-radius: 10;
    color: rgb(var(--fullwhite-font));
}
.bd-addon-views .bd-view-button.selected {
    background: linear-gradient(135deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));
}
.bd-addon-views .bd-view-button.selected svg {
    fill: rgb(var(--font-in-accent));
}
#app-mount .bd-addon-list .bd-addon-card {
    border-radius: 10;
    border: solid 1px var(--line-color);
    background: rgba(var(--dark-background-color), var(--other-highlighted-transparency));
}
#app-mount .bd-addon-list .bd-addon-header {
    color: rgb(var(--fullwhite-font));
    border-bottom-color: rgb(var(--accent-color-1));
}
#app-mount .bd-addon-list .bd-footer {
    border-top-color: var(--line-color);
}
.bd-addon-button svg {
    fill: rgb(var(--fullwhite-font));
}
#app-mount .card-2ART2V:before {
    background-color: rgba(var(--dark-background-color), var(--other-highlighted-transparency));
    border-color: rgb(var(--accent-color-1));
    border-radius: 10;
}
#app-mount .game-3x3aDt {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: solid 1px var(--line-color);
}
#app-mount .game-3x3aDt * {
    color: rgb(var(--muted-font));
}
#app-mount .emojiAliasInput-1y-NBz .emojiInput-1aLNse {
    background-color: rgba(var(--darker-background-color), var(--other-highlighted-transparency));
    border-color: rgb(var(--dark-background-color));
    font-size: 14px;
}
#app-mount .inputWrapper-1YNMmM,
#app-mount .emojiAliasPlaceholder-3H_iZA {
    color: rgb(var(--fullwhite-font));
    font-size: 14px;
}
#app-mount .emojiRow-zIc7ZX {
    -webkit-box-shadow: 0 1px 0 0 var(--background-modifier-hover);
    box-shadow: 0 1px 0 0 var(--background-modifier-hover);
}
#app-mount .emojiAliasInput-1y-NBz .emojiInput-1aLNse:hover {
    background-color: rgba(var(--dark-background-color), var(--other-transparency));
    border-color: rgb(var(--accent-color-2));
}
#app-mount .emojiAliasInput-1y-NBz .emojiInput-1aLNse:focus {
    background-color: rgb(var(--dark-background-color), var(--other-highlighted-transparency));
    border-color: rgb(var(--accent-color-1));
}
.full-motion.app-focused #app-mount .emojiAliasInput-1y-NBz .emojiInput-1aLNse:focus {
    animation: accent-blinking 450ms infinite;
}
#app-mount .auditLog-1NVAY0 {
    border: solid 1px var(--line-color);
    border-radius: 10;
    color: rgb(var(--muted-font));
}
#app-mount .headerClickable-zGQJz3 {
    background-color: rgba(var(--dark-background-color), var(--other-transparency));
}
#app-mount .headerExpanded-1-zwDr {
    background-color: rgba(var(--darker-background-color), var(--other-highlighted-transparency));
    color: rgb(var(--normal-font));
}
#app-mount .changeDetails-1kMZqI {
    background-color: rgba(var(--dark-background-color), var(--other-highlighted-transparency));
}
#app-mount .divider-M3saWq {
    background-color: var(--line-color);
}
#app-mount .overflowEllipsis-BfHznL {
    color: rgb(var(--normal-font));
}
#app-mount .timestamp-147bcs {
    color: rgb(var(--muted-font));
}
#app-mount .userHook-3R3zjr,
#app-mount .auditLog-1NVAY0 strong {
    color: rgb(var(--normal-hover-font));
    font-weight: 900;
}
#app-mount .lookOutlined-3yKVGo.colorPrimary-2AuQVo {
    background-color: rgba(var(--darker-background-color), var(--other-highlighted-transparency));
    border-radius: 10;
}
.lookOutlined-3yKVGo.colorRed-rQXKgM {
    border-radius: 10;
    background-color: rgba(var(--darker-background-color), var(--other-highlighted-transparency));
    color: rgb(var(--gx-red));
    border-color: rgb(var(--gx-red));
}
#app-mount .lookOutlined-3yKVGo.colorPrimary-2AuQVo,
.lookOutlined-3yKVGo.colorRed-rQXKgM:hover {
    background-color: rgb(var(--dark-background-color));
}
#app-mount .lookOutlined-3yKVGo.colorPrimary-2AuQVo {
    color: rgb(var(--normal-hover-font));
    border-color: rgb(var(--normal-hover-font));
}
#app-mount .lookOutlined-3yKVGo.colorPrimary-2AuQVo:hover {
    color: rgb(var(--fullwhite-font));
    border-color: rgb(var(--fullwhite-font));
}
#app-mount .elevationHigh-28Pty4 { /* unsaved changes */
    -webkit-box-shadow: none;
    box-shadow: none;
    border: solid 1px rgb(var(--accent-color-1));
    border-radius: 10;
    background: linear-gradient(135deg, rgb(var(--dark-background-color)), rgb(var(--darker-background-color)));
}
.upsellContent-1JlpHe {
    border-radius: 10;
    border: solid 1px rgb(var(--accent-color-1));
    background: linear-gradient(315deg, rgb(var(--darker-background-color)), rgb(var(--dark-background-color)));
}
#app-mount .card-3_CqkU,
#app-mount .iconMask-30Tvqs {
    background-color: var(--background-primary);
}
#app-mount .card-3_CqkU {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: solid 1px rgb(var(--accent-color-1));
    border-radius: 10;
}
.item-2OyinQ {
    border-radius: 0 !important;
}
.cardPrimary-3qRT__,
.cardPrimaryEditable-2mz_3i {
    background: rgba(var(--dark-background-color), var(--other-transparency));
    border: solid 1px var(--line-color);
    border-radius: 10;
}
.cardFolder-3H4uH4 {
    border-top: solid 1px var(--line-color);
    padding-bottom: 0;
}
.settingCard-xZSDjS {
    border-radius: 10;
    border: solid 1px var(--line-color);
}
#app-mount .denySelected-1mh2mZ {
    background: rgb(var(--gx-red));
    border-color: rgb(var(--gx-green));
}
#app-mount .passthroughSelected-1Eq0Kl {
    background: rgb(var(--dark-background-color));
}
#app-mount .allowSelected-25S_i5 {
    border-color: rgb(var(--gx-green));
    background: rgb(var(--gx-green));
}
#app-mount .item-2OyinQ {
    border-color: rgb(var(--dark-background-color));
}
.developerPortalCtaWrapper-2XNafh {
    background: rgba(var(--dark-background-color), var(--other-highlighted-transparency));
}
#app-mount .popoutList-10IFAa {
    background: rgb(var(--dark-background-color));
}
#app-mount .elevationBorderLow-3_3rXL {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: solid 1px rgb(var(--accent-color-1));
}
.popoutList-10IFAa {
    border-radius: 10;
    padding: 10px 0 0 0;
}
.popoutListInput-1w4TxY {
    margin: 0 10px;
    width: auto;
}
.popoutList-10IFAa .marginBottom8-emkd0_ {
    margin-bottom: 0;
}
.selectableItem-3-fmiM {
    border-radius: 10;
    height: 34px;
    margin: 2px 0 2px 0;
}
.selectableItem-3-fmiM:hover {
    background-color: rgb(var(--darker-background-color)) !important;
}
.selectableItem-3-fmiM.selected-1l_Bxn:hover {
    background-color: rgb(var(--accent-color-1)) !important;
}
#app-mount .container-1S70rv .input-2lpFVz {
    color: rgb(var(--fullwhite-font));
}
#app-mount .empty-3J6aBo .noResultsHeader-2crZUK {
    color: rgb(var(--normal-font));
}
#app-mount .empty-3J6aBo .noResultsHeader-2crZUK ~ p {
    color: rgb(var(--muted-font));
}
#app-mount .userSettingsAccount-3wUMIP .viewBody-1l56Sd,
#app-mount .userSettingsSecurity-2WQWqX .codeCheckbox-2VC-8N {
    color: rgb(var(--normal-font));
}
#app-mount .colorPickerCustom-1swUKF {
    background: rgb(var(--dark-background-color));
    border-color: rgb(var(--accent-color-1));
}
.full-motion.app-focused #app-mount .colorPickerCustom-1swUKF {
    animation: accent-blinking 450ms infinite;
}
.saturation-CLQHFD > div,
.saturation-CLQHFD > div > div {
    border-radius: 10;
}
.saturation-CLQHFD > div,
.hue-2nWTuO > div > div {
    border: solid 1px rgb(var(--darker-background-color));
    transition: border-color 100ms ease-in-out;
}
.saturation-CLQHFD > div:hover,
.hue-2nWTuO > div > div:hover {
    border-color: rgb(var(--accent-color-2));
}
.saturation-CLQHFD > div:active,
.hue-2nWTuO > div > div:active {
    border-color: rgb(var(--accent-color-1));
}
.hue-2nWTuO > div > div > div > div {
    border: solid 1px rgb(var(--accent-color-1));
    border-radius: 0px !important;
    background-color: rgb(var(--darker-background-color)) !important;
    margin-top: -5px !important;
    margin-left: -2px !important;
    cursor: ew-resize;
}
.hue-2nWTuO > div > div {
    border-radius: 10;
    cursor: ew-resize;
}
#app-mount .progress-1S-TDF {
    background-color: var(--background-primary);
}
#app-mount .notches-2w7UZJ.gray-3wP137 {
    background-image: none;
}
#app-mount .notDetected-2HEmAp {
    background-color: rgba(var(--darker-background-color), var(--other-transparency));
    border: solid 1px rgba(var(--dark-background-color), var(--other-highlighted-transparency));
}
#app-mount .nowPlaying-zBamm2 {
    background-color: rgba(var(--dark-background-color), var(--other-highlighted-transparency));
    border: solid 1px rgba(var(--accent-color-1), var(--other-highlighted-transparency));
}
#app-mount .notDetected-2HEmAp *,
#app-mount .nowPlaying-zBamm2 * {
    color: rgb(var(--muted-font));
    fill: rgb(var(--muted-font));
}
.gameName-Uw4dbt {
    color: rgb(var(--normal-hover-font)) !important;
}
#app-mount .nowPlayingAdd-3lvnXJ {
    color: rgb(var(--normal-font));
}
.lastPlayed-3aHvxk {
    line-height: 16px;
}
.notDetected-2HEmAp,
.nowPlaying-zBamm2 {
    border-radius: 10;
}
#app-mount .button-1yVL_7 {
    background-color: rgb(var(--darker-background-color));
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 10;
    border: solid 1px rgba(var(--accent-color-1), var(--other-highlighted-transparency));
}
/* Custom CSS Editor */
#bd-editor-panel {
    border: solid 1px var(--line-color);
}
#bd-editor-controls {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: solid 1px var(--line-color);
}
.checkbox-1ycfTw .checkboxInner-1aRh1d .checkboxElement-uwAa9F:checked+span {
    background-color: rgb(var(--accent-color-1));
    border-color: rgb(var(--accent-color-1));
}