/* Emoji information (emoji section) */
.popoutContainer-2wbmiM {
    border-radius: 10;
    border: solid 1px rgb(var(--accent-color-1));
}
.emojiSection-3QtaWO {
    background: linear-gradient(135deg, rgb(var(--dark-background-color)), rgb(var(--darker-background-color)));
}