/* GIFs */
.gifTag-1TvtGO {
    background-image: none;
    width: unset;
    height: unset;
}
.gifTag-1TvtGO:after {
    font-size: 14px;
    font-weight: 900;
    color: rgb(var(--fullwhite-font));
    content: "GIF";
    background-color: rgb(var(--darker-background-color));
    padding: 2px 5px;
    border: solid 1px rgb(var(--accent-color-1));
    box-shadow: 0 0 3px #000;
}