/* Channel History */
.channelHistoryButtons .btn {
    color: rgb(var(--accent-color-1));
    margin-top: 4px;
}
.channelHistoryButtons .btn:hover {
    color: rgb(var(--accent-color-1)) !important;
    background: rgba(255, 255, 255, 0.3);
}