.ChannelDms-channelmembers-wrap{
    border-right: 1px solid rgb(var(--accent-color-1));
    border-bottom: 1px solid rgb(var(--accent-color-1));
    background: rgba(var(--darker-background-color), var(--memberlist-transparency)) !important;
}
.ChannelDms-channelpopout-header{
    border-radius: 0px;
    border: 1px solid rgb(var(--accent-color-1));
    background: rgba(var(--darker-background-color), var(--memberlist-transparency)) !important;
}
.ChannelDms-channelmembers-header{
 background: rgba(var(--darker-background-color), var(--memberlist-transparency)) !important;
}