/* DateViewer */
#dv-mount {
    border-right: solid 1px var(--line-color);
    background: rgba(var(--memberlist-transparency-color), var(--memberlist-transparency)) !important;
    backdrop-filter: blur(var(--memberlist-background-blur)) !important;
}
#dv-main {
    width: 100% !important;
    border-top-color: var(--line-color) !important;
}