/* GooseMod themes and plugins */
#gm-settings-inject {
    background-color: rgba(var(--chat-transparency-color), var(--chat-transparency)) !important;
    backdrop-filter: blur(var(--chat-background-blur)) !important;
    border-left: solid 1px var(--line-color);
    border-right: solid 1px var(--line-color);
}
.platform-web #gm-settings-inject {
    border-right: none;
}
div[style*="background-color: var(--background-secondary); border-radius: 8px; box-sizing: border-box; padding: 12px; margin: 10px; width: 330px; height: 380px; position: relative; order:"] {
    border-radius: 0 !important;
    border: solid 1px var(--line-color);
}
div[style*="background-color: var(--background-secondary); border-radius: 8px; box-sizing: border-box; padding: 12px; margin: 10px; width: 330px; height: 380px; position: relative; order:"] > div[style*="border-radius: 8px 8px 0px 0px;"] {
    border-radius: 0 !important;
    border-bottom: solid 1px var(--line-color);
}
/* GM profile badges */
.profileBadge-12r2Nm:before {
    background-color: transparent;
}