/*~~ 19. Other Client Mods Support ~~*/
/*-- 19.1 Powercord --*/
/* Powercord Toast */
#app-mount .powercord-toast,
#app-mount .powercord-toast .header {
    background-color: var(--toast-background);
    box-shadow: none;
    -weblit-box-shadow: none;
    border-radius: 10;
}
#app-mount .powercord-toast {
    border: solid 1px rgb(var(--accent-color-1));
}
#app-mount .powercord-toast .header {
    border-bottom: solid 1px rgb(var(--accent-color-1));
}
#app-mount .powercord-pc-icon {
    filter: brightness(1);
}
.powercord-pc-icon svg {
    border-right: 1px var(--background-modifier-accent) solid;
}
.powercord-toast .contents .inner {
    color: var(--text-normal);
    font-size: 14px;
    line-height: 16px;
    background-color: var(--toast-contents);
    border: 2px solid var(--toast-border);
    border-radius: 10;
}
.lookGhost-2Fn_0-.colorBrand-I6CyqQ {
    color: rgb(var(--accent-color-2));
    background-color: rgba(var(--accent-color-1), 0.1);
    transition: background 200ms cubic-bezier(0, 0, 0,35, 1) !important;
}
.lookGhost-2Fn_0-.colorBrand-I6CyqQ:hover {
    background-color: rgba(var(--accent-color-2), 0.15);
}
.lookGhost-2Fn_0-.colorGreen-3y-Z79 {
    color: rgb(var(--gx-green));
    background-color: rgba(var(--gx-green), 0.1);
    border: solid 1px rgb(var(--gx-green));
    transition-property: color, background-color, border-color;
}
.lookGhost-2Fn_0-.colorGreen-3y-Z79:hover {
    color: rgb(var(--gx-green-2));
    background-color: rgba(var(--gx-green-2), 0.15);
    border: solid 1px rgb(var(--gx-green-2));
}
.lookOutlined-3yKVGo.colorGrey-2iAG-B {
    color: rgb(var(--gx-grey));
    border-color: rgb(var(--gx-grey));
    background-color: rgba(var(--gx-grey), 0.1);
    transition-property: color, background-color, border-color;
}
.lookOutlined-3yKVGo.colorGrey-2iAG-B:hover {
    color: rgb(var(--gx-grey-2));
    border-color: rgb(var(--gx-grey-2));
    background-color: rgba(var(--gx-grey-2), 0.15);
}
.button-f2h6uQ {
    border-radius: 10;
}
.powercord-toast .contents .inner {
    border: solid 1px rgb(var(--accent-color-1)) !important;
    border-radius: 0 !important;
}
.powercord-toast[data-toast-type=success] .icon {
    color: rgb(var(--gx-green)) !important;
}
/*-- 19.2 Goosemod --*/
body > div[style*="position: absolute; transform: translateX(-25%);"] {
    background-color: rgb(var(--darker-background-color)) !important;
    border-radius: 0 !important;
    border: solid 1px rgb(var(--accent-color-1));
    opacity: 1 !important;
    z-index: 1000 !important;
}
.full-motion.app-focused body > div[style*="position: absolute; transform: translateX(-25%);"] {
    animation: accent-blinking 450ms infinite !important;
}