/* ImageUtilities */
.zoomLens-uOK8xV {
	border-color: rgb(var(--accent-color-1)) !important;
}
.message-2CShn3 .flexChild-3PzYmX {
    /*font-size: 0.85rem !important;
    line-height: 1.125rem !important;*/
    background-color: rgba(var(--dark-background-color), var(--other-transparency)) !important;
    vertical-align: middle !important;
    margin-right: 3px !important;
    border: solid 1px var(--line-color) !important;
    padding: 2px 4px !important;
    margin-left: 0 !important;
    flex: unset !important;
}