/* MemberCount */
#app-mount #MemberCount {
    background-color: transparent !important;
    width: calc(100% - 1px) !important;
    border-right: solid 1px var(--line-color) !important;
    padding: 0 !important;
    margin-top: 0px !important;
    height: 29px !important;
    border-bottom: solid 1px var(--line-color)
}
.platform-web #app-mount #MemberCount {
    border-right: none !important;
}
#app-mount #MemberCount .membersGroup-2eiWxl {
    padding-top: 5px !important;
}