/* LineNumbersRedux */
#app-mount .hljs ol li::before {
    color: rgb(var(--muted-font));
}
.hljs ol li {
    border-left-color: rgba(var(--dark-background-color), var(--other-transparency));
}
.hljs:hover ol li {
    border-left-color: rgb(var(--accent-color-2));
}
.full-motion.app-focused .hljs:hover ol li {
    animation: accent-blinking 450ms infinite;
}

/* Username In Author */
.author-username {
    filter: brightness(1) !important;
    opacity: 0.5;
}