/* OldTitleBar and PersonalPins */
.toolbar-3_r2xA .iconWrapper-2awDjA.clickable-ZD7xvu.cursorPointer-3Tn1hR .icon-2xnN2Y path {
    stroke-width: 1 !important;
}
.toolbar-3_r2xA .iconWrapper-2awDjA.clickable-ZD7xvu.cursorPointer-3Tn1hR .icon-2xnN2Y {
    color: transparent !important;
    stroke: rgb(var(--normal-font)) !important;
}
.toolbar-3_r2xA .iconWrapper-2awDjA.clickable-ZD7xvu.cursorPointer-3Tn1hR:hover .icon-2xnN2Y {
    color: transparent !important;
    stroke: rgb(var(--normal-hover-font)) !important;
}
.toolbar-3_r2xA .iconWrapper-2awDjA.clickable-ZD7xvu.cursorPointer-3Tn1hR.selected-29KTGM .icon-2xnN2Y {
    color: transparent !important;
    stroke: rgb(var(--accent-color-1)) !important;
}
.toolbar-3_r2xA .iconWrapper-2awDjA.clickable-ZD7xvu.cursorPointer-3Tn1hR.selected-29KTGM:hover .icon-2xnN2Y {
    color: transparent !important;
    stroke: rgb(var(--accent-color-2)) !important;
}
.toolbar-3_r2xA .iconWrapper-2awDjA.clickable-ZD7xvu.cursorPointer-3Tn1hR .icon-2xnN2Y path {
    stroke: rgb(var(--normal-font)) !important;
}
.toolbar-3_r2xA .iconWrapper-2awDjA.clickable-ZD7xvu.cursorPointer-3Tn1hR:hover .icon-2xnN2Y path {
    stroke: rgb(var(--normal-hover-font)) !important;
}
.toolbar-3_r2xA .iconWrapper-2awDjA.clickable-ZD7xvu.cursorPointer-3Tn1hR.selected-29KTGM .icon-2xnN2Y path {
    stroke: rgb(var(--accent-color-1)) !important;
}
.toolbar-3_r2xA .iconWrapper-2awDjA.clickable-ZD7xvu.cursorPointer-3Tn1hR.selected-29KTGM:hover .icon-2xnN2Y path {
    stroke: rgb(var(--accent-color-2)) !important;
}