/* ReadAllNotificationsButton */
.frame-oXWS21 .innerFrame-8Hg64E {
    border-radius: 2px;
    background-color: rgba(var(--dark-background-color), var(--other-transparency)) !important;
    color: rgb(var(--normal-font)) !important;
    text-transform: uppercase;
    font-weight: 500 !important;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 4px;
    height: 20px !important;
    line-height: 22px !important;
    transition: 200ms cubic-bezier(0, 0, 0.35, 1);
    transition-property: color, background-color, font-weight;
}
.frame-oXWS21 .innerFrame-8Hg64E:hover {
    background-color: rgb(var(--accent-color-2)) !important;
    font-weight: 900 !important;
}
.frame-oXWS21 .wrapper-3kah-n .childWrapper-1j_1ub {
    font-size: 10px !important;
    transition: 200ms cubic-bezier(0, 0, 0.35, 1);
    transition-property: color;
}
.frame-oXWS21 .wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub,
.frame-oXWS21 .wrapper-3kah-n:hover .childWrapper-1j_1ub {
    background-color: transparent !important;
    color: rgb(var(--font-in-accent)) !important;
}