/* ServerDetails */
.detailsTooltip-G9hSSa .icon-hSL42R {
    border-radius: 10;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 10%;
}
.detailsTooltip-G9hSSa div.icon-hSL42R {
    background: linear-gradient(135deg, rgb(var(--accent-color-1)), rgb(var(--accent-color-2)));
    color: rgb(var(--font-in-accent));
}