/* SpotifyControls */
.bar-g2ZMIm,
.barFill-Dhkah7,
.grabber-7sd5f5,
.coverWrapper-YAplwJ,
.bar-1GpknY,
.barInner-3dHef4 {
    border-radius: 0 !important;
}
.coverWrapper-YAplwJ {
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 5px;
}
.maximized-vv2Wr0 .coverWrapper-YAplwJ {
    clip-path: none;
}
#app-mount .themedPopout-1TrfdI {
    background-color: rgb(var(--dark-background-color));
    border: solid 1px rgb(var(--accent-color-1));
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 10;
}
#app-mount .popoutTop-3WSJtH:after,
#app-mount .popoutTopLeft-3B0mFf:after,
#app-mount .popoutTopRight-1lc8Mq:after {
    border-top-color: rgb(var(--accent-color-1));
}